<table class="table table-bordered questions-index">
	<tbody>			
	 <%= render questions %>
	</tbody>
</table>

<div class="text-center" id='pagination'>
	<%= will_paginate questions %>	
	<%= render partial: "shared/loading", locals: { message: "questions" } %>
</div>	
