<% meta_title("Edit: #{@question.title}")%>

<%= application_banner("new-question-banner") do %>
	<h1 class="video-upload">Edit your question <i class=" icon-question-sign"></i></h1>
	<%= link_to raw("<i class='icon-circle-arrow-left'></i> Back to videos"), videos_path(referrer: request.fullpath, referral_text: "Back to question <i class='icon-circle-arrow-right'></i>"), class: "default asphalt" %></center>
	<br><br>
<% end %>

	
<%= render partial: "questions/form" %>	
