<%= content_for :head do %>
	<title>Create question</title>
<% end %>

<div class="row">
	<div class="span2"></div>
		<div class="span8">
			<div class="hero-unit banff">
				<h1 class="welcome-banner">
					Step 2: Ask your question <i class=" icon-question-sign"></i>
				</h1><br><br>
					<%= link_to raw("<i class='icon-circle-arrow-left'></i> Back to videos"), videos_path, class: "default asphalt" %>
			</div>
		</div>
	<div class="span2"></div>
</div>
	<%= render partial: "questions/form" %>	
