<% meta_title("Ask a question") %>

<div class="center hero-unit sandy-hills mobile">
	<h1 class="video-upload">
		Step 2: Ask your question <i class=" icon-question-sign"></i> 
	</h1>
	<b>Make sure your question is clear, concise and can be answered.<br>
		Try to include as much info as possible</b><br><br>
		<%= link_to raw("<i class='icon-circle-arrow-left'></i> Back to videos"), videos_path, class: "default submit" %>
</div>
<%= render partial: "questions/form" %>	