<%= content_for :head do %>
	<title>Create question</title>
<% end %>

	<div class="hero-unit banff-cutout">
		<h1 class="video-upload">
			Step 2: Ask your question <i class=" icon-question-sign"></i>
		</h1>
			<%= link_to raw("<i class='icon-circle-arrow-left'></i> Back to videos"), videos_path, class: "default universe" %>
	</div>
	<%= render partial: "questions/form" %>	