<div class="center hero-unit sebonak">
	<h1 class="welcome-banner">Step 2: Ask your question <i class=" icon-question-sign"></i></h1>
	<p>Please remember to make your question solvable, objective and avoid vague and open ended questions.</p>
	
	<%= link_to raw("<i class='icon-circle-arrow-left'></i> Back to videos"), videos_path, class: "default submit" %>
	</div>
<%= render partial: "questions/form" %>