<div class="center hero-unit beach">
	<h1 class="welcome-banner">Step 2: Ask your question <i class=" icon-question-sign"></i></h1>
	<p>Please remember to make your answers solvable, avoid vague and open ended questions.<br> For more details see <a href="#">question best practices guide</a></p>
	
	<%= link_to raw("<i class='icon-circle-arrow-left'></i> Back to videos"), videos_path, class: "default submit" %>
	</div>
<%= render partial: "questions/form" %>