<% meta_title("Popular Questions") %>

<%= application_banner do %>
	<%= render template: "shared/teebox_banner" %>
<% end %>

<%= render partial: "shared/nav_links" %>

<section class="row" id="questions-index">
	<div class="col-md-12 col-sm-12">
		<%= render partial: "questions/questions", locals: { questions: @popular } %>
	<div class="col-md-12 col-sm-12">
</section>