<% if @related.any? %>
	<div class="related-questions">	
		<h4>Related Questions</h4>
	</div>	
	<section class="related-sidebar">	
		<% @related.each do |question| %>
			<div class="related" id="related">
				<div class="related-content">
					<%= link_to question.title.capitalize, question %><br>
					<small>Asked <%= time_ago_in_words(question.created_at) %> ago.</small>
				</div>
			</div>
		<% end %>
	</section>
<% end %>