<% meta_title("Unanswered Questions") %>

<%= application_banner do %>
	<%= render template: "shared/teebox_banner" %>
<% end %>

<%= render partial: "shared/nav_links" %>

<section class="row" id="questions-index">
	<div class="col-md-12 col-sm-12">
		<%= render partial: "questions/questions", locals: { questions: @unanswered } %>
	</div>	
</section>	