<% meta_title("Unanswered Questions") %>

<%= render template: "shared/teebox_banner" %>

<%= render partial: "shared/nav_links" %>

<section class="row" id="questions-index">
	<%= render partial: "questions/questions", locals: { questions: @unanswered } %>
</section>	