<i class="icon-ok"></i>
<% if point.value > 0 %>	
	<span class="green">+<%= point.value %></span>
<% else %>
	<span class="red"><%= point.value %></span>
<% end %>
Your answer was marked as correct
<%= link_to strip_links_and_trim(point.pointable.question.title, 40), point.pointable %>