<!-- move if to helper -->
<% if point.value > 0 %>
	<i class="icon-thumbs-up-alt"></i>
	<span class="green">+<%= point.value %></span>
	Upvote on
<% else %>
	<i class="icon-thumbs-down-alt"></i>
	<span class="red"><%= point.value %></span>
	Downvote on
<% end %>

<%= build_point_path(point) %>