<body class="teebox-xl">
	<div class="center-block">
		<div class="span8 clearfix">
			
				<%= render @comment %>
			
			<i class="icon-hand-left white"></i>
			<%= link_to "View #{@comment.commentable.class}", @comment.commentable, class: "white" %>
		</div>
	</div>		
</body>	