<body class="teebox-xl">
	<div class="center-block">
		<div class="col-md-8 col-md-offset-2 clearfix">
			<%= render @comment %>
			<%= link_to @comment.commentable, class: "default submit" do %>
				<i class="icon-hand-left white"></i>
				View 
				<%= @comment.commentable.class %>
			<% end %>
		</div>
	</div>		
</body>	