<table class="table table-condensed table-borderless">
	<tr class="grey">
		<td>
			<a href="#" data-toggle="tooltip" id='answer-correct' title="Marked as correct">
				<i class="icon-ok-sign"></i>
			</a>
		</td>
		<td>
			<a href="#" data-toggle="tooltip" id='answer-text' title="Answer content">
				<i class="icon-align-justify"></i>
			</a>
		</td>
	</tr>
	<% answers.each do |answer| %>	
	    <tr>
			<td>
				<div class="<%= answer.correct == true ? 'green-tick' : 'default-tick' %> center">
					<%= answer.correct == true && answer.user != answer.question.user  ? 
						raw("<i class='icon-ok-sign'></i>") : raw("<i class='icon-ok-sign'></i>") %>
				</div>
			</td>
	      <td class='left'>
			<%= link_to "#{url_for(answer.question)}#answer_#{answer.id}" do %>
				<%= strip_links(truncate(answer.body, length: 200)) %>
			<% end %>	
		  </td>
	    </tr>
	<% end %>
</table>