<table class="table table-condensed table-borderless">
		<tr class="grey">
			<td>
				<a href="#" data-toggle="tooltip" id='comment-votes' title="Comment votes">
					<i class="icon-thumbs-up"></i>
				</a>
			</td>
			<td>
				<a href="#" data-toggle="tooltip" id='comment-text' title="Comment content">
					<i class="icon-align-justify"></i>
				</a>
			</td>
		</tr>
		<% comments.each do |comment| %>	
	    <tr>
			<td>
				<div id="<%= comment.points > 0 ? 'plus-points' : 'no-points' %>">
					<%= comment.points > 0 ? "+#{comment.points}" : comment.points %>
				</div>
			</td>
	      <td class="left">
		<% if comment.commentable_type == "Question" %>
			<% comment_url = comment.commentable %>
		<% else %>
			<% comment_url = comment.commentable.question %>
		<% end %>
			<%= link_to "#{url_for(comment_url)}#comment_#{comment.id}" do %>
				<%= strip_links(truncate(comment.content, length: 100)) %>
			<% end %>	
		  </td>
	    </tr>
	<% end %>
	</table>