<table class="table table-condensed table-borderless">
		<tr class="grey">
			<td>
				<a href="#" data-toggle="tooltip" id='comment-votes' title="Comment votes">
					<i class="icon-thumbs-up"></i>
				</a>
			</td>
			<td>
				<a href="#" data-toggle="tooltip" id='comment-text' title="Comment">
					<i class="icon-align-justify"></i>
				</a>
			</td>
		</tr>
		<% comments.each do |comment| %>	
	    <tr>
			<td>
				<div id="<%= comment.points > 0 ? 'plus-points' : 'no-points' %>">
					<%= comment.points > 0 ? "+#{comment.points}" : comment.points %>
				</div>
			</td>
	      <td class="left"><a href='<%= "#{url_for(comment.commentable)}#comment_#{comment.id}" %>'>
				<%= truncate(comment.content, length: 75) %></a>
		  </td>
	    </tr>
	<% end %>
	</table>