<table class="table table-condensed table-borderless table-striped">
		
		<% for comment in comments %>	
	    <tr>
			<td>
				<div id="<%= comment.points > 0 ? 'plus-points' : 'no-points' %>">
					<%= comment.points > 0 ? "+#{comment.points}" : comment.points %>
				</div>
			</td>
	      <td class="left"><a href='<%= "#{url_for(comment.commentable)}#comment_#{comment.id}" %>'>
				<%= truncate(comment.content, length: 100) %></a>
		  </td>
	    </tr>
	<% end %>
	</table>