<% meta_title('Latest Articles') %>
<% meta_keywords('Golf Articles, Teebox articles') %>

<%= application_banner('video-banner yas-links-banner') do %>
	<h1 class="video-upload">
		<i class="icon-flag-alt"></i> The Clubhouse
	</h1>
	<%= link_to raw("<i class='icon-plus-sign'></i> Create an article"), new_article_path, class: "default submit" if can? :new, Article %>
<% end %>

<%= render partial: "shared/nav_links" %>

<section class="row" id="articles-index">
	<%= render @articles, css: Proc.new {|count| article_sequence_formatter(count, @articles.size) } %>
</section>
