<% if activity.trackable %>
	<div class="gravatar">
		<%= link_to image_tag(avatar_url(activity.owner, 40)), activity.owner, id: "gravatar" %>
	</div>
	<div class="message">
		<%= link_to activity.owner.username, activity.owner %> answered your 
		<%= link_to "Question", activity.trackable.question %><br>
		<small>Created <%= time_ago_in_words(activity.trackable.created_at) %> ago</small>
	</div>
<% else %>
	It has since been deleted
<% end %>