<ul class="ch-grid">
	<li>
        <div class="ch-item ch-img-1">
            <div class="ch-info">
                <h3>Teebox score</h3>
            </div>
			<h1><%= decorator.reputation  %></h1>
        </div>
    </li>
</ul>

