<div id="stats">
<div class="stat-box">
	<div class="stat-title">
			Handicap
	</div>
	<div class="stat-value">
		<h1><%= decorator.handicap  %></h1>
	</div>
</div>

<div class="stat-box">
	<div class="stat-title">
			Teebox Score
	</div>
	<div class="stat-value">
		<h1><%= decorator.reputation  %></h1>
	</div>
</div>
</div>