<div class="row">
	<div class="span3">
	<ul class="ch-grid">
		<li>
        <div class="ch-item ch-img-1">
            <div class="ch-info">
                <h3>Teebox score</h3>
            </div>
			<h1><%= decorator.reputation  %></h1>
        </div>
    	</li>
	</ul>
	</div>
	<div class="span3">
	<ul class="ch-grid">
		<li>
        <div class="ch-item ch-img-1">
            <div class="ch-info">
                <h3>Correct Answers</h3>
            </div>
			<h1><%= rand(0..99)  %></h1>
        </div>
    	</li>
	</ul>
	</div>
	<div class="span3">
	<ul class="ch-grid">
		<li>
        <div class="ch-item ch-img-1">
            <div class="ch-info">
                <h3>Another stat</h3>
            </div>
			<h1><%= rand(0..99)  %></h1>
        </div>
    	</li>
	</ul>
	</div>
</div>