<% if user_counter == 0 %>
	<tr>
		<td>Rank</td>
		<td>Score</td>
		<td>Username</td>
		<td>Member for</td>
	</tr>
<% end %>
<tr style="background: #fff;">
	<td><%= user.rank.try(:ordinalize) %></td>
	<td><%= link_to user.reputation, user, id: "profile-reputation" %></td>
	<td><%= link_to user.username, user %></td>
	<td><%= time_ago_in_words(user.created_at)%></td>
</tr>