<div class="hero-unit sebonak">
<%= render partial: "users/tables/answer_table", locals: {answers: @answers} %>
<%= link_to "Profile", user_path, class: "default asphalt" %>
</div>
<%= will_paginate @answers %>