<% meta_title("#{@user.username} questions") %>

<h2>Questions</h2>
<%= render partial: "users/tables/question_table", locals: {questions: @questions} %>
<%= will_paginate @questions %>
<%= link_to "Back to #{@user.username.titleize}", user_path(@user) %>