<% meta_title("#{@user.username} questions") %>

<h2>Questions</h2>
<%= raw "<p>No questions yet</p>" unless @questions.any? %>

<%= render partial: 'questions/questions', locals: { questions: @questions } %>

<%= link_to "#{@user.username.titleize} profile", user_path(@user) %>