<div class="hero-unit sebonak"><center>
	<h1 class="welcome-banner" id="welcome-h1">
		Welcome to Teebox
	</h1><br>
	<h1 class="welcome-username">
		<%= @user.username %>
	</h1>
	</h1>	
	</div>	
</center></div>