<%= content_for :head do %>
	<title>My Videos</title>
<% end %>

<%= render template: "videos/new" %>

<legend>Video Library</legend>

<section id="videos">
	<%= render @videos %>
</section>

<%= render partial: "shared/video_upload" %>
