<% meta_title("Video library") %>

<%= render template: "videos/new" %>

<legend>Video Library</legend>

<section id="videos">
	<%= render @videos %>
</section>

<%= render partial: "shared/video_upload" %>
