<%= render template: "videos/new" %>

		<%= link_to "Step 2", new_question_path, class: "btn btn-large" %><br><br>

<div class="progress progress-striped active" id="progress">
  <div class="bar" style="width: 1%;"></div>
</div>

<h2>My Videos</h2>
<div id="videos">
<%= render @videos %>
</div>

