<%= render template: "videos/new" %><br>

		<%= link_to "Next", new_question_path, class: "btn-large btn-primary ask-question" %><br>

<h2>My Videos</h2>


<div id="videos">
<%= render @videos %>
</div>
