<%= render template: "videos/new" %>

<div id="videos">
<%= render @videos %>
</div>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.video%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>