<%= content_for :head do %>
	<title>My Videos</title>
<% end %>

<%= render template: "videos/new" %>

<legend>Video Library</legend>

<div id="videos">
	<%= render @videos %>
</div>

<%= render partial: "shared/video_upload" %>
