<% meta_title("Video library") %>

<%= render template: "videos/new" %>

<h4 class="video-library">Video Library</h4><br>

<section id="videos">
	<%= render @videos %>
</section>

<%= render partial: "shared/modals/video_upload" %>
