<div class="center hero-unit forest-cutout">
	<h1 class="video-upload">Step 1: Upload a Video <i class="icon-cloud-upload"></i></h1>
	<p>Max file size 5MB.</b> Allowed file types: mp4, OGV, FLV, m4v.</p>
	<div class="instructions">
		<div class="rotate90"><i class="xl icon-mobile-phone"></i></div>
		<i class="icon-ok-sign large green right-margin"></i>
		<i class="xl icon-mobile-phone right-margin"></i>
		<i class="icon-remove-sign large red "></i><br>
	</div>
			<%= render partial: "videos/form" %>
</div>