<h1>Step 1: Upload a Video</h1>

<small><b>Max file size 5MB.</b> Allowed file types: mp4, OGV, FLV, m4v. Please view <%= link_to "Uploading Videos" %> 
 for video best practices and guidelines</small><br><br>

<%= render partial: "videos/form" %><br>

<%= link_to raw('Step 2 &nbsp; <i class="icon-chevron-right"></i>'), new_question_path, class: "btn-large btn-primary ask-question" %><br>


<div id="dropzone" class="fade well">
</div>
<div class="progress" id="progress">
  <div class="bar bar-success" style="width: 0%;"></div>
</div>

