<%= application_banner("video-index-banner") do %>
	<h1 class="video-upload">Step 1: Upload Videos </h1>
	<b>You can add up to 3 videos per question.<br>Max file size 12MB.</b><p></p>

	<div class=".upload-form">
		<%= render partial: "videos/form" %>
	</div>
<% end %>