<p><label><i class="icon-picture"></i> Cover image</label></p>
<p><span id="images_count">0</span> Images found<p>
<p><small>Selected: <span id="selected_article_image">Nothing</span></small></p>
<div id="article_images"></div>