<div class="modal hide fade in" id="failed">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="video-upload">Uploading <i class="icon-cloud-upload"></i></h3>
  </div>
  <div class="modal-body">
    	<div id="dropzone">
			<div id="upload">
				<p class='video-upload-info'></p>
			</div>
			<div class="progress" id="progress">
	  			<div class="bar bar-success" style="width:0%;"></div>
			</div>
		</div>
  </div>
  <div class="modal-footer">
    <a href="#" class="default" data-dismiss="modal">OK</a>
  </div>
</div>