<div class="row">
	<div class="span6">
		<%= link_to "Latest Questions", root_path, class: "default #{decorator.tab_class(root_url)}" %>
		<%= link_to "Unanswered", unanswered_path, class: "default #{decorator.tab_class(unanswered_url)}" %>
		<%= link_to "Highest Votes", highest_votes_path, class: "default #{decorator.tab_class(highest_votes_url)}" %>
	</div>
	<div class="span6">
		<%= link_to raw("Ask a Question <i class='icon-question-sign'></i>"), videos_path, class: "default success pull-right" %>
	</div>
</div>