<% unless current_user %>
	<section class="promotion blue-fuzz">
		<h3>Sign up for free personalized golf tips</h3>
		<p><%= link_to "Sign up now", new_user_registration_path, class: "default-xl center full-width-btn submit" %></p>
	</section>	
<% end %>