<div class="hero-unit yas-links" id="no-padding">
	<div class="row">
	  <center>	
		<h1 class="welcome-banner">How it works</h1>
	  </center>
	</div>
	<div id="mini-push"></div>
	<div class="row">
		<div class="span12">
		  <center>	
			<h4>Got a hitch in your swing?<br>Anyone can ask. Anyone can answer.<br> Everyone can progress</h4>
		  </center>
		</div>
	</div>
</div>