<h1 class="welcome-banner">Welcome to teebox</h1>
<div id="mini-push"></div>
<section class="row">
	<div class="span5">
		<center>	
			<p class="banner">
				Got a hitch in your golf game?<br>Anyone can ask. Anyone can answer.<br> Everyone can progress.
			</p>
			<%= link_to "Sign Up", new_user_registration_path, class: "default next" unless current_user %>
			<%= link_to "How it works", info_path, class: "default asphalt"%>
	  	</center>
	</div>
	<div class="span2">
		<ul class="ch-grid show">
			<li>
	        <div class="ch-item ch-img-1">
	            <div class="ch-info">
	                <h3>Swing issues?</h3>
	            </div>
				<h1><i class="icon-remove" id="banner"></i></h1>
	        </div>
	    	</li>
		</ul>
	</div>
	<div class="span2">
		<ul class="ch-grid show">
			<li>
	        <div class="ch-item ch-img-1">
	            <div class="ch-info">
	               <h3>Ask a question</h3>
	            </div>
				<h1><i class="icon-question" id="banner"></i></h1>
	        </div>
	    	</li>
		</ul>
	</div>
	<div class="span2">
		<ul class="ch-grid show">
			<li>
	        <div class="ch-item ch-img-1">
	            <div class="ch-info">
	                <h3>Get an answer</h3>
	            </div>
				<h1><i class="icon-ok"></i></h1>
	        </div>
	    	</li>
		</ul>
	</div>
</section>

