<div class="center hero-unit" id="no-padding">
	<div class="row">
		<div class="span5">
		  <center>	
			<h1 syle="margin: 0px!important">Welcome to teebox</h1>
			<h4>Anyone can ask. Anyone can answer.<br> Everyone can progress</h4>
			<%= link_to "Sign up", new_user_registration_path, class: "default submit" %>
		  </center>
		</div>
		<div class="span2">
		<div class="circle-box">
		  <center>	
			<h1 class="circle">?</h1>
			<h4>Swing problems?</h4>
		  </center>
		</div>
		</div>
		<div class="span2">
			<div class="circle-box">
		  <center>
			<h1 class="circle"><i class="icon-camera"></i></h1>
			<h4>Upload a video, ask a question</h4>
		  </center>
		</div>
		</div>
		<div class="span2">
			<div class="circle-box">
		  <center>
			<h1 class="circle">✓</h1>
			<h4>Get an answer</h4>
		  </center>
		</div>
		</div>
	</div>
</div>