<div class="center hero-unit forest" id="no-padding">
	<div class="row">
	  <center>	
		<h1 class="welcome-banner">Welcome to teebox</h1>
	  </center>
	</div>
	<div id="mini-push">
		</div>
	<div class="row">
		<div class="span5">
		  <center>	
			<h4>Got a hitch in your swing?<br>Anyone can ask. Anyone can answer.<br> Everyone can progress</h4>
			<%= link_to "Get your answer", new_user_registration_path, class: "default submit"%>
		  </center>
		</div>
		<div class="span2">
			<ul class="ch-grid">
				<li>
		        <div class="ch-item ch-img-1">
		            <div class="ch-info">
		                <h3>Swing issues?</h3>
		            </div>
					<h1>?</h1>
		        </div>
		    	</li>
			</ul>
		</div>
		<div class="span2">
			<ul class="ch-grid">
				<li>
		        <div class="ch-item ch-img-1">
		            <div class="ch-info">
		               <h3>Ask a question</h3>
		            </div>
					<h1><i class="icon-camera" id="banner"></i></h1>
		        </div>
		    	</li>
			</ul>
		</div>
		<div class="span2">
			<ul class="ch-grid">
				<li>
		        <div class="ch-item ch-img-1">
		            <div class="ch-info">
		                <h3>Get an answer</h3>
		            </div>
					<h1>✓</h1>
		        </div>
		    	</li>
			</ul>
		</div>
	</div>
</div>