<div class="center hero-unit grid" id="no-padding">
	<div class="row">
		<div class="span5">
		  <center>	
			<h1 syle="margin: 0px!important">Welcome to teebox</h1>
			<h4>Anyone can ask. Anyone can answer.<br> Everyone can progress</h4>
			<%= link_to "Sign up", new_user_registration_path, class: "default submit" %>
		  </center>
		</div>
		<div class="span2">
			<ul class="ch-grid">
				<li>
		        <div class="ch-item ch-img-1">
		            <div class="ch-info">
		                <h3>?</h3>
		            </div>
					<h1>?</h1>
		        </div>
		    	</li>
				<h4>Swing Issues?</h4>
			</ul>
		</div>
		<div class="span2">
			<ul class="ch-grid">
				<li>
		        <div class="ch-item ch-img-1">
		            <div class="ch-info">
		                <h3><i class="icon-camera" id="camera"></i></h3>
		            </div>
					<h1><i class="icon-camera" id="banner"></i></h1>
		        </div>
		    	</li>
				<h4>Upload a video. Ask a question</h4>
			</ul>
		</div>
		<div class="span2">
			<ul class="ch-grid">
				<li>
		        <div class="ch-item ch-img-1">
		            <div class="ch-info">
		                <h3>✓</i></h3>
		            </div>
					<h1>✓</i></h1>
		        </div>
		    	</li>
			<h4>Get an answer</h4>
			</ul>
		</div>
	</div>
</div>