<% meta_title("Answer: #{@answer.question.title}") %>
<% meta_keywords(@answer.question.tags.map(&:name).join(", ")) %>
<% meta_description(@answer.question.title) %>

<body class="teebox-xl">
	<div class="center-block">
		<div class="col-md-8 col-md-offset-2 clearfix">
			<%= render @answer %>
			<%= link_to @answer.question, class: "default submit" do %>
				<i class="icon-hand-left white"></i>
				<%= @answer.question.title %>
			<% end %>	
		</div>
	</div>
</body>	