<p>Picture this. A tall, handsome, strapping young golfer hits a shot on the range in preparation for his weekend four ball. Smooth backswing, solid strike, he watches as the ball flies...violently to the right.</p>
<p>Well that shouldn't have happened.<p>
<p>This brave soul tries again, but same result. He's 20 minutes away from teeing off. This cannot be!
Luckily, the lad is resourceful and has been filming his swing for instant review. He checks his trusty camera phone for the culprit, but alas! The error hides in pain sight. If only he had another pair of eyes (or several, ideally). If only he could get instant feedback, right here on the range.</p>
<p>If only...</p>
<p>And that is how this frightfully handsome young man formed the idea behind Teebox. Welcome. We hope your improve your game.</p><br>
<b><%= link_to "Sign up", new_user_registration_path, class: "default-xl next center" %></b>
<b><%= link_to "How it works", info_path, class: "default-xl success center" %></b>