<p>It's been a long week, and it's finally time to relax on the links with your regular four ball. You're set to take their money this time. You loosen up with a few swings on the range, smooth backswing, solid strike, and you watch as the ball flies—violently to the right.</p>

<p>Well that shouldn't have happened.</p>

<p>You try a few more, strengthen your grip, think about rhythm, but alas, it's the same result.</p>

<p>Looks like it's gonna be one of those days again.</p>

<p>You begin to wonder if it's the flying left elbow, weak grip or your dodgy posture? You check your trusty camera phone for the culprit, but the error hides in plain sight. If only you had an extra pair of eyes (or several, ideally) to decipher your idiosyncrasies. If only you could get instant feedback, right here on the range.</p>

<p>If only...</p>

<p>And that is how the idea behind Teebox was formed. We're a community that can help get you back on your game. And when someone else falters, you can return the favor with your own insight. Sharing is caring, after all.</p>

<p>So, welcome. Let's get your game back on track.</p>
<b><%= link_to "Sign up", new_user_registration_path, class: "default next center" %></b>
<b><%= link_to "How it works", info_path, class: "default success center" %></b>