<%= content_for :head do %>
	<title>Find out more</title>
<% end %>

<div class="hero-unit forest-cutout">
	<center>
		<%= image_tag "old-school-logo.png" %><br>
	</center>
		<ul>
		<li>Teebox is a question and answer site for golfers of all abilities.</li> 
		<li>You can either ask a question to get help with your swing or answer questions.</li>
		<li></li>
		</ul>
</div>

