<%= content_for :head do %>
	<title>About us</title>
<% end %>

<div class="center hero-unit grass mobile">
	<h1 class="welcome-banner xl">How it works</h1>
	<p class="lead">Golf is hard. Really hard. Here at Teebox we want to give everyone the best chance to play well. All you have to do is ask a question about your swing problems, get some helpful answers and tips. And yes, its completely free.</p>
</div>
		
	
<div class="container" id="margin-bottom">	
<!-- START THE FEATURETTES -->
      <div id="featurette">
        <i class="icon-camera-retro xl pull-left"></i>
        <h2 class="featurette-heading">Firstly.&nbsp;<span class="muted">Upload a video of your swing.</span></h2>
        <p class="lead">Videos give everyone a great insight into you and your swing. Face on or down the line camera angles work best.</p>
      </div>
	<hr>
      <div id="featurette">
		<i class="icon-question-sign xl pull-left red"></i>
        <h2 class="featurette-heading">Secondly.&nbsp;<span class="muted">Tell everyone what's going wrong.</span></h2>
        <p class="lead">Talk to us about your issues. Where's the ball going? What shot are you trying to play? Be as specific as possible.</p>
      </div>
	<hr>
      <div id="featurette">
		<i class="icon-ok-sign xl pull-left green"></i>
        <h2 class="featurette-heading">Lastly.&nbsp;<span class="muted">Get your answer.</span></h2>
        <p class="lead">Anyone can answer your question. A low handicapper or an aspirational beginner. Don't worry, objectivity is king.</p>
      </div>
<hr>
	<div id="featurette">
		<i class="icon-plus-sign xl pull-left points"></i>
        <h2 class="featurette-heading">Don't forget.&nbsp;<span class="muted">The Points.</span></h2>
        <p class="lead">Mark your favorite answer as correct. Vote on comments or other answers which helped you out. Points for everyone!</p>
		<hr>
		<center>
			<p class="lead">You'll back in shape in no time.</p>
			<p class="lead">
			<b><%= link_to "Sign up today", new_user_registration_path, class: "default-xl success" %></p></b>
		</center>
      </div>
      <!-- /END THE FEATURETTES -->
</div>