<div class="welcome-wrapper">
<div class="welcome-message">
		<div class="container">
				<div class="welcome-text">
					</div>				
						<div class="tagline">
							upload analyse & improve<br><br>
							</div>
							
					</div>
	</div>
	<div class="welcome-section">
		<div class="container">
<div class="front-page">
	<i class="icon-upload"></i> Upload a video
</div>
<div class="front-page">
	<i class="icon-question-sign"></i> Ask a question
</div>
<div class="front-page">
	<i class="icon-ok-sign"></i> Get an answer
</div>
</div>
		</div>
	</div>
