<h1 class="one"><span>Teebox Tag Valt</span></h1>	
<p>A tag is a word or phrase that categorizes your question with other, similar questions, making it easier for others to find and answer your question. To view a tag's questions, click on its' title.</p>