<%= content_for :head do %>
	<title>Edit <%= @tag.name %> Tag</title>
<% end %>

<div class="center hero-unit blue-transparent">
		<h1 class="welcome-banner">Edit <%= @tag.name %></h1><br><br>
<%= render partial: "tags/form" %>
</div>