<div class="center hero-unit beach">
	<h1 class="welcome-banner">Tags Vault</h1><br>	
		<%= render partial: "tags/info" %>
		<%= render template: "tags/new" %>
</div>

<div id="tags">
	<%= render @tags %>
</div>

<%= will_paginate @tags %>