<h1>Tags</h1>

<%= render partial: "tags/info" %>

<%= render template: "tags/new" %><br>

<h2>Latest updated tags</h2>

<div id="tags">
<%= render @tags %>
</div>
<%= link_to "Tag Vault", tags_path %><br>