<% meta_title("Create tag") %>

<div class="hero-unit blue-transparent">
	<h1>Create a new Tag</h1>
	<p>Tags are a way to help organize our questions. When creating a new tag please make sure they are as concise as possible.</p>
	<br>
	
	<div id="tag_form">
		<%= render partial: "tags/form" %>
	</div>
</div