<%= content_for :head do %>
	<title>500 We're sorry, but something went wrong.</title>
<% end %>

<body class="bally-bunion-xl">
	<div class="hero-unit center blue-transparent">
		<h1>500 We're sorry, but something went wrong.</h1>
		<% if @exception %>
		  <p><%= @exception.message %></p>
		<% else %>
		  <p>Try again</p>
		<% end %>
		<%= link_to raw('<i class="icon-home"></i> Home'), root_path %>
	</div>
</div>