<!DOCTYPE html>
<HTML lang="en">
	<head>
		<title>Teebox: <%= @question.title %></title>
		<style type="text/css">
			body { font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; font-weight:300;}
			a { text-decoration:none }
		</style>
	</head>
	<body>
		<p><%= link_to @question.title, controller: "questions", action: "show", id: @question.id, only_path: false %></p>
		<p>Asked by <%= @question.user.username %></p>
		<p>Posted <%= time_ago_in_words @question.created_at %> ago</p>
	</body>
</HTML>	