@import "variables";

body .blue-fuzz {
	background: url(footer.png);
	color: #fff;
	a, label {
		opacity: 1.0;
		color: #fff;
	}
	.btn {
		color: #333;
	}
}
body .blue-transparent {
	background: $universe;
	opacity: 0.95;
	color: #fff;
	border: none!important;
	a, label {
		opacity: 1.0;
		color: #fff;
	}
	.btn {
		color: #333;
	}
}
body .darkblue-transparent {
	@extend .blue-transparent;
	background: $blackhole;
}

body .semi-transparent {
	background-color:rgba(255, 255, 255, 0.9);
}

body .transparent {
	background: transparent;
	padding: 30px;
}

// Full page backgrounds

.sebonak-xl {
	background: url(backgrounds/sebonak.jpg);	  
}
.teebox-xl {
	background: url(backgrounds/teebox-landscape-xl.jpg);
}
.sebonak-cutout {
	background: url(backgrounds/sebonak-cutout.jpg);
}
.bally-bunion-xl {
	background: url(backgrounds/bally-bunion.jpg);
}
.sandy-hills-xl {
	background: url(backgrounds/sandy-hills-xl.jpg);
}
.yas-links-xl {
	background: url(backgrounds/Yas-links-xl.jpg);
}
.whistler-xl {
	background: url(backgrounds/whistler.jpg);
}
// end

// Full homepage width banner 

.forest-banner {
	background: $sky url(backgrounds/forest-banner.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	color: #fff!important;
	& .hero-unit {
		@include border-radius(0px);
		background:none;
		background-color:none;
	}
	.mobile {
		margin:-30px 0px 20px;
	}
}
.video-banner {
	@extend .forest-banner;
	@include background-size;
	background: url(backgrounds/green-grass.jpg);
}
.blue-fuzz-banner {
	@extend .forest-banner;
	background: url(footer.png);
}
// end

// Regular standard width hero-unit banner

.container .forest-cutout {
	background: url(backgrounds/forest-cutout.jpg);
	color: #fff;
	background-position: center bottom;
}
.container .banff-cutout {
	background: url(backgrounds/banff-cutout.jpg);
	color: #fff;
	background-position: center 58%;
}
.container .bally-bunion {
	background: url(backgrounds/bally-bunion.jpg);
	color: #fff;
	background-position: center 86%;
}
.container .sebonak {
	background: url(backgrounds/sebonak-large.jpg);
	color: #fff;
	background-position: center 63%;	
}
.container .sebonak-cutout-mini {
	background: url(backgrounds/sebonak-cutout-mini.jpg);
	color: #fff;
	background-position: center 55%;	
}
.container .sandy-hills {
	background: url(backgrounds/sandy-hills-cutout.jpg);
	color: #fff;
	background-position: center 90%;
}
.container .yas-links {
	background: url(backgrounds/Yas-links.jpg);
	color: #fff;
	background-position: center 95%;
}
.container .grass {
	background: url(backgrounds/teebox-grass.jpg);
	color: #fff;
	background-position: center bottom;
}
.container .rotator {
	background: url(backgrounds/rotator-cutout.jpg);
	color: #fff;
	background-position: center 50%;
}
.container .how_it_works, .how_it_works {
	background: url(backgrounds/how-it-works.jpg);
	color: #fff;
	background-position: center 50%;
}

.sky {
	background: $sky;
	color: #fff;
}
.grey {
	background: #dedede;
}
.sky a, .beach a, .ocean a, .kauri a {
	color: #fff;
}
.red-border {
	border-bottom: 3px solid $red;
}
.stitched {
	border: 1px solid $universe;
	outline: 2px dashed $red;
	outline-offset: -10px;
}