@import "variables.css.scss";

body .blue-fuzz {
	background: url(footer.png);
	color: #fff;
	a, label {
		opacity: 1.0;
		color: #fff;
	}
	.btn {
		color: #333;
	}
}
body .blue-transparent {
	background: $universe;
	opacity: 0.95;
	color: #fff;
	border: none!important;
	a, label {
		opacity: 1.0;
		color: #fff;
	}
	.btn {
		color: #333;
	}
}
body .transparent {
	background: transparent;
	padding: 30px;
}

/* full page backgrounds */

.sebonak-xl {
	background: url(backgrounds/sebonak-large.jpg);	  
}
.banff-xl {
	background: url(backgrounds/banff-l.jpg);
}
.teebox-xl {
	background: url(backgrounds/teebox-landscape-xl.jpg);
}
.sebonak-cutout {
	background: url(backgrounds/sebonak-cutout.jpg);
}
.bally-bunion-xl {
	background: url(backgrounds/bally-bunion.jpg);
}
.sandy-hills-xl {
	background: url(backgrounds/sandy-hills-cutout.jpg);
}
.heath-cutout-xl {
	background: url(backgrounds/heath-cutout.jpg);
}

/* <!-- full page backgrounds --> */
	
.container .forest {	
	background: url(backgrounds/teebox-landscape-tall.png);
	color: #fff;
	background-position: center bottom;
}
.container .forest-cutout {
	background: url(backgrounds/forest-cutout.jpg);
	color: #fff;
	background-position: center bottom;
}
.container .banff {
	background: url(backgrounds/banff-l.jpg);
	color: #fff;
	background-position: center 73%;
}
.container .banff-cutout {
	background: url(backgrounds/banff-cutout.jpg);
	color: #fff;
	background-position: center 50%;
}
.container .bally-bunion {
	background: url(backgrounds/bally-bunion.jpg);
	color: #fff;
	background-position: center center;
}
.container .sky {
	background: url(backgrounds/teebox-landscape-tall.png);
	color: #fff;
	background-position: center center;	
}
.container .ocean-cutout {
	background: url(backgrounds/ocean-cutout.jpg);
	color: #fff;
	background-position: center 55%;
}
.container .sebonak {
	background: url(backgrounds/sebonak-large.jpg);
	color: #fff;
	background-position: center 63%;	
}
.container .sebonak-cutout-mini {
	background: url(backgrounds/sebonak-cutout-mini.jpg);
	color: #fff;
	background-position: center 55%;	
}
.container .sandy-hills {
	background: url(backgrounds/sandy-hills-cutout.jpg);
	color: #fff;
	background-position: center 52%;
}
.container .heath {
	background: url(backgrounds/Heath.jpg);
	color: #fff;
	background-position: 2% 45%;	
}
.container .heath-cutout {
	background: url(backgrounds/heath-cutout.jpg);
	color: #fff;
	background-position: 2% 35%;
}
.container .yas-links {
	background: url(backgrounds/Yas-links.jpg);
	color: #fff;
	background-position: center 50%;
}
.blue {
	background: $sky;
	color: #fff;
}
.grey {
	background: #dedede;
}
.sky a, .beach a, .ocean a, .kauri a {
	color: #fff;
}
.sky label, .beach label, .ocean label {
}
.red-border {
	border: 1px solid $red;
	outline: 2px solid $red;
	outline-offset: -10px;
}
.stitched {
	border: 1px solid $universe;
	outline: 2px dashed $red;
	outline-offset: -10px;
}