.hero-unit .welcome-banner {
	color: #fff;
	text-shadow: 0 4px 0px #E95A4D;
	letter-spacing: 3px;
	display:inline;
}
.banner-reputation {
	color: #E95A4D;
	text-shadow: 0 4px 0px #fff;
	letter-spacing: 3px;
	display: inline;
}
.ch-grid {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
} 
.ch-grid:after {
    clear: both;
} 
.ch-grid li {
    width: 100px;
    height: 100px;
    display: inline-block;
	margin: 10px 0 0;
}
#banner {
	padding: 0;
	width: auto;
}
#camera {
	margin: -8px 8px;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: inset 0 0 0 6px #E95A4D, 0 0 0 4px #31838F;
    transition: all 0.4s ease-in-out;
}
.ch-img-1 { 
    background: #fff;
}
.ch-info {
    position: absolute;
    background: #31838F;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
.ch-item h1 {
	text-align: center;
	vertical-align: middle;
	margin: 32px!important;
	text-shadow: 0 2px 0px #ccc;
}
.ch-info h3 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
	line-height: 20px;
	text-align:center!important;
    margin: 0px;
    padding: 30px 0 0 0;
    height: 140px;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}
.ch-item:hover {
    box-shadow:  inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1), 0px 0px 0px 4px #fff, 0 0px 0px 7px #E95A4D;
}
.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}
.ch-item:hover .ch-info p {
    opacity: 1;
}