@import "variables.css.scss";


.hero-unit .welcome-banner, .welcome-banner {
	color: #fff;
	text-shadow: 0 4px 0px $red;
	letter-spacing: 3px;
	display:inline;
}
.hero-unit .welcome-username {
	text-shadow: 0px 2px 0px $red;
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
#welcome-h1 {
	border-bottom: 1px dashed #fff
}
.welcome-white {
	color: #fff!important;
	text-shadow: 0px 3px 0px $red;
}
.welcome-red {
	color: $red;
	text-shadow: 0px 3px 0px #fff;
}
a .welcome-red:hover {
	color: $teal!important;
}
a .welcome-white:hover {
	color: $red!important;
	text-shadow: 0 3px 0 #fff;
}
.banner-reputation {
	color: $red;
	text-shadow: 0 4px 0px #fff;
	letter-spacing: 3px;
	display: inline;
}
.ch-grid {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
} 
.ch-grid:after {
    clear: both;
} 
.ch-grid li {
    width: 100px;
    height: 100px;
    display: inline-block;
	margin: 10px 0 10px;
}
#banner {
	padding: 0;
	width: auto;
}
#camera {
	margin: -8px 8px;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    transition: all 0.4s ease-in-out;
	box-shadow: inset 0px 0px 0px 3px #fff, 0 0px 0px 4px $red;
}
.ch-img-1 { 
    background: $teal;
}
.ch-info {
    position: absolute;
    background: $asphalt;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
.ch-item h1 {
	text-align: center;
	vertical-align: middle;
	margin: 32px 0 0 0!important;
	text-shadow: 0 3px 3px #666;
	color: #fff!important;
}
.ch-info h3, .ch-info h3 a {
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
	line-height: 20px;
	text-align:center!important;
    margin: 0px;
    padding: 30px 0 0 0;
    height: 140px;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}
.ch-item:hover {
	transition: all 0.4s ease-in-out;
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px $dark-emerald;
}
.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}
.ch-item:hover .ch-info p {
    opacity: 1;
}