@import "variables.css.scss";

/* --------- */

html, body { 
	min-height: 100%;
	height: 100%;
	font-weight: 300;
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
	background-position: center!important;
	background-attachment: fixed!important;
}
hr {
	margin: 12px 0;
}
a {
	color : $teal;
}
a:hover {
	text-decoration: none;
}
/*--------------------- fonts ------------------------------------*/
@font-face {
	font-family: 'lobster_1.3regular';
    src: url('lobster_1.3-webfont.eot');
    src: url('lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('lobster_1.3-webfont.woff') format('woff'),
         url('lobster_1.3-webfont.ttf') format('truetype'),
         url('lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}	
@font-face {
  	font-family: 'BebasNeueRegular';
	src: url('BebasNeue-webfont.eot');
	src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
		 url('BebasNeue-webfont.woff') format('woff'),
    	 url('BebasNeue-webfont.ttf') format('truetype'),
	     url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: lighter;
 	font-style: normal;
}	
h1 {
	font-size: 36px;
	font-family: 'BebasNeueRegular';
	font-weight: 100;
	margin-bottom: 12px;
	margin-top: 10px;
	color: $red;
	/*text-shadow: 0px 2px 2px #777;		*/
	letter-spacing:0px;				
}		
h2 {
	font-size: 25px; 
	font-family: 'BebasNeueRegular';
	margin-top: .75em;
	color: #777;
}
h3 {
	font-size: 22px; 
	font-family: 'BebasNeueRegular';
	font-weight: 400;
    margin-bottom: .857em;
	margin-top: .857em;
	color: $green;	
}
h4 {			
	font-size: 18px;
	font-weight:300;
	line-height:25px;
	letter-spacing:0px;
	margin-bottom: 0.5em;
}
h5 {
 	font-size: 1.125em; /* = 18px */
    margin-bottom: 1.125em;
    margin-top: 1.125em;
}
h6 {
    font-size: 1.000em; /* = 16px */
    margin-bottom: 1.285em;
    margin-top: 1.285em;
}	


/* custom font styles */

.bebas {
	font-family: 'BebasNeueRegular';
	font-size: 22px;
	color: $teal;
	vertical-align: middle;
}	
.lobster {
	font-family: "lobster_1.3regular";
}		
#answer-button {
}
#answer-button:hover {
	text-decoration:none;	
}
small {
	line-height: 5px;
}	
center h1 {
	text-align:center!important;
}
.center {
	text-align:center;
}
/* custom colors */

green, green a {
	color: $green;
}
red, red a {
	color: $red;
}
.universe {
	color: $asphalt;
	display: inline;
	margin: 0 5px 0 0;
}

.green-bg, tr.green-bg td {
	background:$green!important;
	color: #fff;
	a {
		color: #fff!important;
	}
}

/*----------------------Containers ------------------------------*/

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -150px;
}
.footer-container {
	width:1040px;
	margin: 0 auto;
	padding-top: 10px;
}
.main {
	margin:15px 0px 25px;
}
.sidebar {
	width:30%;
	padding: 10px;
	display:inline;
}
.container .home {
	text-align:center;
}

/*--------------- logo------------ */

.logo {
	display:inline-block;
	width:50px;
}
.logo img {
	-webkit-transition: all 1s ease;
	     -moz-transition: all 1s ease;
	       -o-transition: all 1s ease;
	      -ms-transition: all 1s ease;
	          transition: all 1s ease;
}
.info-logo {
	border-bottom: 1px solid #fff;
}
.banner-text {
	display:inline-block;
}
.header-title {
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	margin-top:10px;
	color: #222;
	text-shadow: 0px 1px 1px #555;
	font-weight:300;
}
.alignright {
	position:absolute;
	top:auto;
	bottom: auto;
	right:0%;
	height: 100px;
	min-width:200px;
	font-size: 16px;
	line-height: 20px;
	text-align:right;
}
.signin {
	position:absolute;
	top:25%;
	right:0%;
	height: auto;
	text-align:right;
}
.profile_pic {
	float:right;
	margin-left:10px;
	width: 75px;
}
/* ------------------------- Header --------------------------------------------*/

.ask-question {
	float: right;
}
/* ------------------------- Footer --------------------------------------------*/

#footer {
	font-weight:400;
	background: $universe;
	height:150px;
	color: #4E545C;
	a {
		color: inherit;
	}
	a:hover {
		color: #666;
	}
	.span3 {
		margin-bottom: 10px;
		margin-top:10px;
	}
	/*background: url(dark-footer.jpg);
	-webkit-box-shadow: inset 0px 5px 20px #555;
	box-shadow: inset 0px 5px 20px #666;
	-moz-box-shadow: inset 0px 5px 20px #555;*/
}
#push {
	height: 150px;
}
#mini-push {
	height:60px;
}
#tiny-push {
	height:30px;
}
#browsers img {
	-webkit-transition: all 1s ease;
	     -moz-transition: all 1s ease;
	       -o-transition: all 1s ease;
	      -ms-transition: all 1s ease;
	          transition: all 1s ease;
}
#browsers img:hover {
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}
.padded {
	padding: 10px 0 0;
}
.footer-menu li, .footer-menu li a {
	list-style:none;
	font-weight: 400;
	color: #999;
}

ul.footer-links {
	margin: 5px 0px;
	li {
		list-style:none;
	}
}
.footer-title {
	text-align:left;
	padding-bottom:2px;
	color: #eee;
	border-bottom: 1px solid #2C333C;
	font-weight: 300;
}
/*---------------------------- tables -------------------------------------------*/

tr.titles {
	font-family: 'BebasNeueRegular';
	color: #777;
}

/*---------------- sublime video + upload  ----------------*/
body .sublimevideo-zi .sublimevideo-uj {
	/*height: 700px!important;*/
}
.sublimevideo-View:first-child {
	margin-bottom:0px;
}
.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;
  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 10px;
      background: #3EC144;
    }
  }
}
.video {
  .name {
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
  }
  .actions {
    font-size: 10px;
    text-align: center;
    color: #777;
  }
}

.upload-form, .instructions {
	display:inline-block;
	margin:5px;
}
/*--------------------- Questions index ---------------------*/

/*=videos=*/

.videos {
	display: inline-block;
	background: #fff;
	position: relative;
	vertical-align:top;
	padding: 0px;
	margin: 0px 15px 15px 0px;
	width: 200px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.form {
	cursor: pointer;
}
.videos h4, .videos h4 a {
	margin: 0px;
	padding: 0px 0px;
	padding: 0px 2px 0px 2px;
}
.videos p {
	padding: 0px 2px 0px 5px;
	margin:0px;
}
.videos small a {
	margin-left:-4px;
}
.videos .loading {
	position: absolute;
	top: 25px;
	right: 73px;
	height: 50px;
	width: 50px;
	display:none;
}
.video-container {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*=questions=*/

.questions {
	display:block;
	vertical-align:top;
	padding: 7px;
	margin: 0px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ECECEC;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.question-info {
	display: inline-block;
	vertical-align: middle;
}
.question-image {
	width: 136px;
	margin-right:3px;
	display:inline-block;
	position:relative;
}
.question-image:hover {
}
.index-title {
	display:block;
	vertical-align:top;
	font-size: 17px;
	font-weight: 300;
	margin: 0 0 10px;
	font-weight: light;
}
.index-title a:hover {
}
.questions:hover, .videos:hover {
}
#q-answers-count {
	font-family: 'BebasNeueRegular';
	display: inline-block;
	padding: 7px 14px;
	background: #409C69;
	color: #fff;
	font-weight: 300;
	margin-right: 5px;
	font-size: 20px;
	margin-top: 5px;
}
#answers-count h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}
#correct-answer {
	color: white !important;
	font-weight: bolder;
	display: inline-block;
	padding: 9px 14px 6px;
	background: $green-sea;
	font-weight: 300;
	margin: 4px 5px 0 0;
	font-size: 22px;
	font-family: 'BebasNeueRegular';
}
#no-correct-answer {
	color: white !important;
	font-weight: bolder;
	display: inline-block;
	padding: 9px 14px 6px;
	background: $red;
	font-weight: 300;
	margin: 4px 5px 0 0;
	font-size: 22px;
	font-family: 'BebasNeueRegular';
}
#no-points {
	display: inline-block;
	font-size: 25px;
	text-align:center;
	vertical-align:middle;
	margin: 7px 6px 0 0;
	font-family: 'BebasNeueRegular';
	color: $red;
}
#plus-points {
	display: inline-block;
	font-size: 25px;
	text-align:center;
	vertical-align:middle;
	margin: 7px 6px 0 0;
	font-family: 'BebasNeueRegular';
	color: #4fc392;
}

/* js loading */

.next_page, .previous_page {
}
#loading {
	display:none;
	color: #ccc;
	text-align:center;
	padding: 5px 0;
	background: #fff;
}
.load-questions {
	text-align:center;
	margin: 0 auto;
	display:none;
}
.loading {
	height:30px;
	width:30px;
	text-align:center;
}
.load-notifications {
	display:block;
	color: #ccc;
	text-align:center;
}

/*----------- Question form - videos select ----------*/

#scroll {
	overflow: auto;
	max-height: 100px;
}
#token {
	margin: 5px 0px 0px;
	white-space: nowrap;
	overflow-x: -moz-scrollbars-horizontal;
	overflow-x: scroll;
	border: none;
}
.selected {
	position: absolute;
	background: #fff;
	background-position: center 10%;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	top: 20%;
	right: 35%;
	height: 51px;
	width: 51px;
	font-size: 60px;
	color: $turquoise;
	text-shadow:  0px 1px 1px #fff, 0px 0px 2px #fff;
	display:none;
}
.selected_video {
	position: absolute;
	top: 20%;
	right: 35%;
	height: 50px;
	width: 50px;
	font-size: 60px;
	color: $green;
	text-shadow:  0px 1px 0px #fff;
	display:inline-block;
}
#ok-icon {
	position: absolute;
	top: -4px;
	left: 0px;
}
.selected-img {
}
.video-title {
	color: $green;
	font-size: 18px;
	margin: 4px 0 0;
}
.shadow {
	box-shadow: 0px 4px 0px $red;
}
		
/*--------------------------- video dropzone ------------------------*/

#dropzone {
    height: auto;
    text-align: left;
	margin-top:12px;
}
h3.video-upload {
	margin: 0px;
	color: #fff;	
}
#dropzone.fade, #smooth {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}
#progress, #dropzone {
	display:none;
}
.progress {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #E0E0E0, #f5f5f5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E0E0E0), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #E0E0E0, #f5f5f5);
	background-image: -o-linear-gradient(top, #E0E0E0, #f5f5f5);
	background-image: linear-gradient(to bottom, #E0E0E0, #f5f5f5);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#f5f5f5', GradientType=0);
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #E0E0E0, #f5f5f5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E0E0E0), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #E0E0E0, #f5f5f5);
	background-image: -o-linear-gradient(top, #E0E0E0, #f5f5f5);
	background-image: linear-gradient(to bottom, #E0E0E0, #f5f5f5);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EE0E0E0', endColorstr='#ff5f5f5', GradientType=0);	
}
.progress .bar-success {
	background: $green; /* Old browsers */
}

/*---------------------- search ---------------------*/

body #header-search {
	display:inline;
	width:100px;
}
#main-search {
	display:inline-block;
	width: 70%;
	margin-right: 10px;
	float:right;
}

/*----------------------- pagination ----------------*/

.pagination {
  text-align: center;
  cursor: default; 
}
.pagination a, .pagination span {
    padding: 0.2em 0.3em; 
}
.pagination .disabled {
    color: #999;
}
.pagination .current {
    font-style: normal;
    background-color: $red;
	border-radius: 50%;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
	color: #fff;
}
.pagination a {
	color: #777;
	font-weight:300;
}
.pagination a:hover, .pagination a:focus {
    text-decoration: bold; 
}

/*-------------------- questions & videos profile info ----------*/

.profile-info {
	display:inline-block;
	width:80%;
	vertical-align:top;
}
#index {
	width: 315px;
	vertical-align:bottom;
}
#question-profile-info {
	background: none;
}
.profile-info img {
	float: left;
	margin-right: 5px;
	margin-top: 4px;
}
#question-box {
	position: relative;
	padding:10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #eee;
}
.action_links, .profile, .edit-destroy-links {
	display:inline;
	vertical-align: middle;
}

/*-------------------- comments + related questions ----------------*/
#comment-textarea {
	height: 70px;
}
.comment {
	height: auto;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 1px;
	background: #eee;
	position:relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} 
.comment:hover {
	background: #ddd;
}
.comment-info {
	width: auto;
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
	#no-correct-answer, .index-vote {
		margin:0;
	}
}
.comment-grav img {
	margin-top: 5px;
}
.comment-content {
	width: 87%;
	display:inline-block;
	position:relative;
	vertical-align:top;
	p {
		margin: 0;
	}
	small {
		color: #777;
	}
} 

/* Related questions */

.related {
	height: auto;
	padding: 5px;
	border-bottom: 1px solid #eee;
	position:relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.related:hover {
	background: #eee;
}
.related-info {
	width: auto;
	margin-right:5px;
	display:inline-block;
	vertical-align:top;
	#no-correct-answer, .index-vote {
		margin:0;
	}
}
.related-questions {
	margin: 0 0 5px;
}
#related {
	width:100%;
}
.related:last-of-type {
	margin-bottom: 5px;
}
.relatedh2 {
	margin: 0px 0 5px;
	font-family: "HelveticaNeue";
	font-weight:300;
}
.related-content {
	width: 79%;
	display:inline-block;
	position:relative;
	vertical-align:middle;
	p {
		margin: 0;
	}
	small {
		color: #777;
	}
}
.question-content, .answer-content {
	width: 100%;
	display:inline-block;
	margin-bottom: 0px;
	position:relative;
}
.question {
	padding: 0px;
	position:relative;
}
#new_comment {
	margin: 12px 0 0;
}
.comments-area {
}

/*----- questions content font styles ------*/

.question-content h1 {
	color: #555;
	font-size: 22px;
}
.question-content h2 {
	color: #666;
	font-size: 18px;
}
.question-content h3 {
	color: #777;
	font-size: 15px;
}


/*-------------------- buttons ----------------*/

.default {
	color: #fff;
	background: #888;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 10px!important;
	border-radius:0px;
	border:none;
	display:inline-block;
	text-shadow:none;
	line-height:20px!important;
	margin: 3px 3px 0 0;
}
.default:hover {
	color: #fff;
	background:#999;
}
.success {
	background: $turquoise;
}
.success:hover {
	background: $green-sea;
}
.emerald {
	background: $emerald;
}
.emerald:hover {
	background: $dark-emerald;
}
.asphalt {
	background: $asphalt;
}
.asphalt:hover {
	background: $midnight;
}
.purple {
	background: $amethyst;
}
.purple:hover {
	background: $wisteria;
}
.submit {
	background: $teal;
}
.submit:hover {
	background: #10545d;
}
.next {
	background: $red;
}
.next:hover {
	background: $dark-red;
}
.universe {
	background: $universe;
}
.universe:hover {
	background: $blackhole;
}
.direct-upload {
	display:inline-block;
	vertical-align: top;
} 
.lineheight {
	line-height: 30px;
}
/*-------------------- Answers ----------------*/

#answer_body_tbl {
	height:100%!important;
	width: 100%!important;
}
#answer_body_ifr {
	height:200px!important;
}
.answer-box {
	padding: 10px;
	border: 1px solid #eee;
	margin-bottom: 10px;
	border-radius: 5px;
}
.answer {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px;
	position: relative;
	margin: 0 0 15px;
}
#tick {
	display:inline-block;
	vertical-align: top;
	text-decoration:none;
}
#tick:hover {
	color: #4fc392;
}
#user-answers {
	font-size: 25px;
	font-weight:bolder;
	display: inline-block;
	padding: 0px;
	margin: 7px 0 0;
	font-family: 'BebasNeueRegular';
	width: 55px;
}
.green-tick a, .green-tick {
	color: #4fc392;
	font-size: 42px;
	float:left;
	margin: 0 3px 0 0;
}
.default-tick a, .default-tick {
	color: #bbb;
	font-size: 42px;
	float:left;
	margin: 0 3px 0 0;
}
table .default-tick, .default-tick a, table .green-tick, table .grren-tick a {
	float:none;
}
/*-------------------- Votes ----------------*/

.vote {
	/*width: 13%;
	padding: 0px 0px 0px 0px;
	margin: 6px 0px 0px;
	vertical-align: top;
	text-align:center;
	position: absolute;
	left:-90px;*/
	display:inline-block;
	color: #bbb;
	float: left;
	margin: 2px 5px 0 0;
}
.index-vote {
	color: white !important;
	font-weight: bolder;
	display: inline-block;
	padding: 9px 14px 6px;
	background: #ccc;
	font-weight: 300;
	margin: 4px 5px 0 0;
	font-size: 22px;
	font-family: 'BebasNeueRegular';
}
.vote-box {
	display:inline-block!important;
}
.vote-box h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:400;
}
#questions, #comments, #answers { 
	display: inline-block; 
	}	
.vote-box h1 { 
	font-size: 45px;
	margin: 0px 3px 0px 0px;	
	letter-spacing:-2px;
	color: #ccc;
}
#arrows { 
	display: inline-block;
	/*text-shadow: 2px 2px 2px #777;*/
}	
#upvote,#downvote {
	color: #bbb;	
}
#upvote:hover {
	color: $green;
	text-decoration: none;
}
#downvote:hover {
	color: $red;
	text-decoration: none;
}
.orange-arrows h1{
	color: #bbb;
	display:inline-block;
}
.default-arrows h1 {
	color: #ccc;
	display:inline-block;
}
/*-------------------- reputation ----------------*/

.reputation {
	text-shadow: 0px 3px 3px #2a2a2a;
	padding: 2px 6px;
	margin-right: 0px;
}
#profile-reputation {
	color: $red;
	font-weight: 400;
	font-family: 'BebasNeueRegular';
	margin-right: 3px;
}
#profile-username {
	
}

/*-------------------- tags + reports ----------------*/

h1.one {
    margin-top: 0;
	position: relative;
	width:50%;
}
h1.one:before {
	content: "";
	display: block;
	border-top: solid 1px $red;
	width: 100%;
	height: 1px;
	position: absolute;
	top: 50%;
	z-index: 1;
}
h1.one span {
	background: $universe;
	padding: 0 5px;
	position: relative;
	z-index: 5;
}

.tag-container {
	color: #777;
	font-weight: 300;
	margin: 0;
	padding: 5px 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align:top;
	display:inline-block;
	float:none!important;
	.tag-title {
		padding: 2px;
		font-size: 20px;
		font-weight:300;
		color: $green-sea;
		a {
			color: $green-sea;
		}
	}
	.tag-explanation {
		padding: 2px;
	}
	small {
		margin-top: 3px;
		color: #ccc;
	}
	small a {
		color: $sky;
	}
	a {
		color: $teal;
	}
	a:hover {
	}
}
.tag-container:hover {
	background: #eee;
	color: #999;
}
.tag-search  a {
	color: #fff!important;
}
#tag-search {
}
#tag-search-input {
	width:66%;
}
.tag_cloud {
	width:100%;
	display: inline-block;
	position: relative;
	text-align: left;
	margin: 0 auto;
}
.tag_cloud_tag, .tag_cloud_tag a {
	margin-bottom: 3px;
	display:inline-block;
}
#tag_form {
	
}
#tags h1 {
	font-size: 20px;
	display:inline;
}
#tag-explanation {
	display:inline;
}
.tag {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px 7px;
	background: $red;
	display:inline;
	color:#fff;
}
.current_tag {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px 8px;
	background: $teal;
}
a.tag, a.current_tag { 
	color: #fff;
	}
a.tag:link{
	
}	
a.tag:hover, a.current_tag:hover {
	background: $teal;
}	
a.tag:active, a.current_tag:active {
	background: $teal;
}

.report-container {
	font-weight: 300;
	margin: 0 5px;
	padding: 5px 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align:top;
	display:inline-block;
	float:none!important;
	.report-title {
		padding: 2px;
		font-size: 20px;
		font-weight:400;
	}
	.r-question {
		color: $green;
	}
	.r-answer {
		color: $teal;
	}
	.r-user {
		color :$red;
	}
}
.increase {
	color: $green!important;
	display:inline-block;
}
.decrease {
	color: $red!important;
	display:inline-block;
}
/*-------------------- tags autocomplete  ----------------*/

ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 100%;
	border: 1px solid #ccc;
    cursor: text;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
	list-style: none;
}

li.token-input-token {
    overflow: hidden; 
    margin: 3px;
    padding: 4px 8px;
	background: $red;
    color: #fff;
    cursor: default;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    float: left;
    white-space: nowrap;
}
li.token-input-tokenp {
    display: inline;
    padding: 0;
    margin: 0;
}
li.token-input-token span {
    color: #dedede;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}
li.token-input-selected-token {
    background-color: #fff;
    border: 1px solid #999;
}
li.token-input-input-token {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;	
}
li.token-input-token p {
	display: inline;
	margin-bottom: 0px;
	color: #fff;
}
div.token-input-dropdown {
    position: absolute;
    width: 100%;
    background-color: #fff;
	border: 1px solid #ccc;
    overflow: hidden;
    cursor: default;
    z-index: 1;
	color: #666;
}
div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
}
div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}
div.token-input-dropdown ul li {
    background-color: #ededed;
    padding: 5px;
    list-style-type: none;
	margin:5px 0px;
}
div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fff;
}
div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}
div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #fff;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item:hover {
    background-color: #eee;
	color: #444;
}

/*-------------------- user stats  ----------------*/

#stats {
	display: block;
}
.stat-box {
	width: 150px;
	margin: 0px 10px 0px 0;
	background: #ededed;
	display:inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align:center;
}
.stat-title {
	width: 100%;
	background: $red;
	color: #fff;
	padding: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.stat-value h1 {
	font-size: 50px;
}

/*----------- scrollbars -----------*/

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #ddd;
	border-radius:1px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar {
	height: 10px;
	background-color: #F5F5F5;
	-webkit-box-shadow: inset 0px 0px 6px #ddd; 
}
::-webkit-scrollbar-thumb {
	border-radius: 1px;
	background: #ccc;
	cursor: pointer; 
}

/*morris */
.morris-hover-row-label {
	color: #444;
}
.morris-hover {
	position:absolute;
	z-index:1000;
	background: #fff; 
	padding: 10px; 
	border: 2px solid #ccc;
	border-radius: 10px;
	line-height:20px;
}