@import "variables";

/* --------- */

html, body { 
	min-height: 100%;
	height: 100%;
	font-weight: 300;
	background-position: center bottom!important;
	background-attachment: fixed!important;
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
	-webkit-overflow-scrolling: touch;
	font-family: $lucida;
}
body {
	background: $ice;
}
hr {
	margin: 12px 0;
}
a {
	color : $teal;
}
a:hover {
	text-decoration: none;
}
//  @font face //

@font-face {
  	font-family: $bebas;
	src: url('BebasNeue-webfont.eot');
	src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
		 url('BebasNeue-webfont.woff') format('woff'),
    	 url('BebasNeue-webfont.ttf') format('truetype'),
	     url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: lighter;
 	font-style: normal;
}	

h1 {
	font-family: $bebas;
	font-size: 36px;
	font-weight: 100;
	margin-bottom: 12px;
	margin-top: 10px;
	color: $red;
	letter-spacing:0px;			
}		
h2 {
	font-family: $bebas;
	font-size: 26px; 
	margin-top: 0px;
	color: #777;
	&.large {
		font-size:30px;
	}
}
h3 {
	font-family: $lucida;
	font-size: 22px;
	line-height: 26px;
	color: $red;
	font-weight: normal;
}
h4 {
	margin: 0px;
	font-size: 22px;
	font-weight:400;
	color: #777;
	font-family: $lucida;
}
h5 {
 	font-size: 18px;
	font-weight:300;
	line-height:25px;
	letter-spacing:0px;
	margin:3px 0;
}
h6 {
	padding: 2px 0px;
	font-size: 20px;
	font-weight:300;
	color: $green-sea;
	margin: 3px 0;
}
	

// custom font styles //

.bebas {
	font-family: $bebas;
	font-size: 22px;
	color: $teal;
	vertical-align: middle;
}			
small {
	line-height: 5px;
	color: #777;
}	
.center {
	text-align:center;
}

//----------------------Containers ------------------------------//

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -150px;
}
.footer-container {
	width:1040px;
	margin: 0 auto;
	padding-top: 10px;
}
.main {
	margin:15px 0px 25px;
}
.sidebar {
	width:30%;
	padding: 10px;
	display:inline;
}
.container .home {
	text-align:center;
}
//--------------- logo------------ //

.logo {
	color: $green;
	text-shadow: 0px 1px 1px #555;
}
.info-logo {
	border-bottom: 1px solid #fff;
}
.banner-text {
	display:inline-block;
}
.header-title {
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	margin-top:10px;
	color: #222;
	text-shadow: 0px 1px 1px #555;
	font-weight:300;
}
.alignright {
	position:absolute;
	top:auto;
	bottom: auto;
	right:0%;
	height: 100px;
	min-width:200px;
	font-size: 16px;
	line-height: 20px;
	text-align:right;
}
.signin {
	position:absolute;
	top:25%;
	right:0%;
	height: auto;
	text-align:right;
}
.profile_pic {
	float:right;
	margin-left:10px;
	width: 75px;
}
// ------------------------- Header --------------------------//

.ask-question {
	float: right;
}
// ------------------------- Footer -----------------------//

#footer {
	font-weight:400;
	background: $universe;
	height:150px;
	color: $gundam;
	a {
		color: inherit;
		&:hover {
			color: #666;
		}
	}
	.span3 {
		margin-bottom: 10px;
		margin-top:10px;
	}
	.copyright {
		text-align:center;
		padding-bottom:10px;
	}
}
#push {
	height: 150px;
}
#mini-push {
	height:30px;
}
#tiny-push {
	height:30px;
}
#browsers img {
	-webkit-transition: all 1s ease;
	     -moz-transition: all 1s ease;
	       -o-transition: all 1s ease;
	      -ms-transition: all 1s ease;
	          transition: all 1s ease;
	&:hover {
		-webkit-transform: rotate(360deg); 
		-moz-transform: rotate(360deg); 
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}
.padded {
	padding: 10px 0 0;
}
.footer-menu li, .footer-menu li a {
	list-style:none;
	font-weight: 400;
	color: #999;
}
ul.footer-links {
	margin: 5px 0px;
	li {
		list-style:none;
	}
}
.footer-title {
	text-align:left;
	padding-bottom:2px;
	color: #eee;
	border-bottom: 1px solid #2C333C;
	font-weight: 300;
}
//---------------------------- tables -----------------------//

tr.titles {
	font-family: $bebas;
	color: #777;
}
.green-bg, tr.green-bg td {
	background:$green!important;
	color: #fff;
	a {
		color: #fff!important;
	}
}

//---------------- sublime video + upload  ----------------//

body .sublimevideo-zi .sublimevideo-uj {
	/*height: 700px!important;*/
}
.sublimevideo-View:last-of-type {
}
.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;
  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    @include border-radius(3px);
    .bar {
      height: 10px;
      background: #3EC144;
    }
  }
}
.video {
  .name {
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
  }
  .actions {
    font-size: 10px;
    text-align: center;
    color: #777;
  }
}
.upload-form, .instructions {
	display:inline-block;
	margin:5px;
}

//--------------------- Questions index ---------------------//

// videos //

.videos {
	display: inline-block;
	position: relative;
	vertical-align:top;
	padding: 0px;
	margin: 0px 15px 15px 0px;
	width: 200px;
	@include box-sizing;
	h4, h4 a {
		margin: 0px;
		padding: 0px 0px;
		padding: 0px 2px 0px 2px;
	}
	.loading {
		position: absolute;
		top: 25px;
		right: 73px;
		height: 50px;
		width: 50px;
		display:none;
	}
}
.form {
	cursor: pointer;
}
.video-container {
	@include box-sizing;
}

// Questions //

// index //

#questions-index .span12 {
	padding-bottom: 10px;
	margin-bottom: 9px;
	border-bottom: 0px solid #eee;
}
.questions {
	display:block;
	vertical-align:top;
	padding: 7px;
	margin: 0px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ECECEC;
	@include box-sizing;
}
.question-info {
	display: inline-block;
	vertical-align: middle;
}
.question-image {
	width: 136px;
	margin-right:4px;
	display:inline-block;
	position:relative;
}
.question-image:hover {
}
.title-holder {
	margin: 0 auto;
	width:100%;
	vertical-align: middle;
	height:31px;
}
.index-title {
	display:inline-block;
	vertical-align:top;
	font-size: 16px;
	font-weight: 300;
	vertical-align:middle;
	line-height:1.5;
	a:hover {
	}
}
.questions:hover, .videos:hover {
}
#q-answers-count {
	font-family: $bebas;
	display: inline-block;
	padding: 7px 14px;
	background: #409C69;
	color: #fff;
	font-weight: 300;
	margin-right: 5px;
	font-size: 20px;
	margin-top: 5px;
}
#answers-count {
	text-align: center;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	@include border-radius(4px);
	h3 {
		padding: 5px 0;
		color: #fff;
	}
}
.unanswered {
	background: $gundam;
	box-shadow: 0px 3px 0px #333;
}
.answered {
	background: $green-sea;
	box-shadow: 0px 3px 0px #367964;
}
#correct-answer {
	color: white !important;
	font-weight: bolder;
	display: inline-block;
	padding: 9px 14px 6px;
	background: $green-sea;
	font-weight: 300;
	margin: 4px 5px 0 0;
	font-size: 22px;
	font-family: $bebas;
}
#no-correct-answer {
	color: white !important;
	font-weight: bolder;
	display: inline-block;
	padding: 9px 14px 6px;
	background: $red;
	font-weight: 300;
	margin: 4px 5px 0 0;
	font-size: 22px;
	font-family: $bebas;
}
#no-points {
	display: inline-block;
	font-size: 25px;
	text-align:center;
	vertical-align:middle;
	margin: 7px 6px 0 0;
	font-family: $bebas;
	color: $red;
}
#plus-points {
	display: inline-block;
	font-size: 25px;
	text-align:center;
	vertical-align:middle;
	margin: 7px 6px 0 0;
	font-family: $bebas;
	color: #4fc392;
}
#answer-button {
	&:hover {
		text-decoration:none;	
	}
}

// loading questions //

.next_page, .previous_page {
}
.loading {
	display:none;
	color: #ccc;
	text-align:center;
	padding: 10px 0 11px;
	img {
		height:30px;
		width:30px;
		text-align:center;
	}
}
.load-questions {
	display:none;
	text-align:center;
	margin: 0 auto;
}

//----------- Question form - videos select ----------//

#scroll {
	overflow: auto;
	max-height: 100px;
}
#token {
	margin: 5px 0px 0px;
	white-space: nowrap;
	overflow-x: -moz-scrollbars-horizontal;
	overflow-x: scroll;
	border: none;
}
.selected {
	position: absolute;
	background: #fff;
	background-position: center 10%;
	@include border-radius(40px);
	top: 17%;
	left: 37%;
	height: 51px;
	width: 51px;
	font-size: 60px;
	color: $turquoise;
	display:none;
	-webkit-text-stroke: 1px #fff;
	-moz-text-stroke: 1px #fff;
}
.selected_video {
	position: absolute;
	top: 20%;
	right: 35%;
	height: 50px;
	width: 50px;
	font-size: 60px;
	color: $green;
	text-shadow:  0px 1px 0px #fff;
	display:inline-block;
}
#ok-icon {
	position: absolute;
	top: -4px;
	left: 0px;
}
.selected-img {
}
.video-title {
	color: $green;
	font-size: 18px;
	margin: 4px 0 0;
}
.shadow {
	box-shadow: 0px 4px 0px $red;
}
		
//------------------- video dropzone ----------------*/

#dropzone {
    height: auto;
    text-align: left;
	margin-top:12px;
}
h3.video-upload {
	margin: 0px;
	color: #fff;
	font-family: $bebas;
}
#dropzone.fade, #smooth {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}
#progress, #dropzone {
	display:none;
}
.progress {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #E0E0E0, #f5f5f5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E0E0E0), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #E0E0E0, #f5f5f5);
	background-image: -o-linear-gradient(top, #E0E0E0, #f5f5f5);
	background-image: linear-gradient(to bottom, #E0E0E0, #f5f5f5);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#f5f5f5', GradientType=0);
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #E0E0E0, #f5f5f5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E0E0E0), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #E0E0E0, #f5f5f5);
	background-image: -o-linear-gradient(top, #E0E0E0, #f5f5f5);
	background-image: linear-gradient(to bottom, #E0E0E0, #f5f5f5);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EE0E0E0', endColorstr='#ff5f5f5', GradientType=0);	
}
.progress .bar-success {
	background: $green; // Old browsers //
}

/*---------------------- header search ---------------------*/

body #header-search {
	display:inline;
	width:100px;
}
#main-search {
	display:inline-block;
	width: 70%;
	margin-right: 10px;
	float:right;
}

/*----------------------- pagination ----------------*/

.pagination {
  	text-align: center;
	cursor: default;
	background: none!important;
	span {
		padding: 0.2em 0.3em; 
	}
	a {
		padding: 0.2em 0.3em;
		color: #777;
		font-weight:300;
		&:hover, &:focus {
		    text-decoration: bold; 
		}
	}
	.disabled {
		color: #999;
	}
	.current {
	    font-style: normal;
	    background-color: $red;
		@include border-radius(50%);
	    display: inline-block;
	    width: 1.5em;
	    height: 1.5em;
	    line-height: 1.5;
		color: #fff;
	}
}

/*-------------------- questions & videos user profile info ----------*/

.profile-info, .profile-info-index {
	display:inline-block;
	width:100%;
	vertical-align:top;
	img {
		float: left;
		margin-right: 5px;
		margin-top: 4px;
	}
}
#question-box {
	position: relative;
	padding:10px;
	@include box-sizing;
	background: #fff;
	box-shadow: 0px 4px 0px #eee;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}
.action_links, .profile, .edit-destroy-links {
	display:inline;
}

//-------------------- comments + related questions ----------------//
#comment-textarea {
	height: 70px;
}
.comment {
	height: auto;
	padding: 7px 0px 7px;
	@include border-radius;
	background: #fff;
	position:relative;
	@include box-sizing;
	border-top: 1px solid #eee;
	&:hover {
		background: #fefefe;
	}
	&:last-of-type {
	
	}
} 
.comment-button {
	margin: 10px 0 0;
	display: inline-block;
}
.comment-info {
	width: auto;
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
	#no-correct-answer, .index-vote {
		margin:0;
	}
}
.comment-grav img {
	margin-top: 5px;
}
.comment-content {
	p {
		margin: 0;
	}
} 

// Related questions //

.related {
	height: auto;
	//padding: 5px;
	position:relative;
	@include box-sizing;
	margin-bottom: 10px;
	&:last-of-type {
		margin-bottom: 5px;
	}
}
.related-info {
	width: auto;
	margin-right:5px;
	display:inline-block;
	vertical-align:top;
	#no-correct-answer, .index-vote {
		margin:0;
	}
}
.related-questions {
	margin: 10px 0 10px;
}
#related {
	width:100%;
}
.related-content {
	display:inline-block;
	position:relative;
	vertical-align:middle;
	p {
		margin: 0;
	}
}
.question-content, .answer-content {
	width: 100%;
	display:inline-block;
	margin-bottom: 0px;
	position:relative;
}
.question {
	@include box-sizing;
	padding: 0px;
	position: relative;
	margin: 0 0 10px;
	.question-tags {
		margin: 5px 0px 10px;
	}
}
#new_comment {
	margin: 12px 0 0;
}

//----- questions content font styles ------//

// For users input
.question-content {
	h1 {
	color: #555;
	font-size: 22px;
	}
	h2 {
		color: #666;
		font-size: 18px;
	}
	h3 {
		color: #777;
		font-size: 15px;
	}
}

/*-------------------- buttons ----------------*/

.default {
	color: #fff;
	background: #888;
	@include box-sizing;
	padding: 5px 10px!important;
	@include border-radius;
	border:none;
	display:inline-block;
	text-shadow:none;
	line-height:20px!important;
	margin: 3px 3px 0 0;
	&:hover {
		color: #fff;
		background:#999;
	}
}
.default-xl {
	color: #fff;
	background: #888;
	@include box-sizing;
	padding: 10px 10px!important;
	@include border-radius;
	border:none;
	display:inline-block;
	text-shadow:none;
	line-height:20px!important;
	margin: 3px 3px 0 0;
	&:hover {
		color: #fff;
	}
}
#welcome-button {
	width:100%;
}
.success {
	background: $turquoise;
	&:hover {
		background: $green-sea;
	}
}
.emerald {
	background: $emerald;
	&:hover {
		background: $dark-emerald;
	}
}
.asphalt {
	background: $asphalt;
	&:hover {
		background: $midnight;
	}
}
.purple {
	background: $amethyst;
	&:hover {
		background: $wisteria;
	}
}
.submit {
	background: $teal;
	&:hover {
		background: #10545d;
	}
}
.next {
	background: $red;
	&:hover {
		background: $dark-red;
	}
}
.universe {
	background: $universe;
	&:hover {
		background: $blackhole;
	}
}
.start-tour {
	width:310px;
}
.direct-upload {
	display:inline-block;
	vertical-align: top;
} 
.lineheight {
	line-height: 30px;
}
//-------------------- Answers ----------------//

#answer_body_tbl {
	height:100%!important;
	width: 100%!important;
}
#answer_body_ifr {
	height:200px!important;
}
.answer-box {
	padding: 10px;
	margin-bottom: 10px;
	@include border-radius(5px);
	background: #fff;
	box-shadow: 0px 4px 0px #eee;
}
.answer {
	@include box-sizing;
	padding: 0px;
	position: relative;
	margin: 0 0 10px;
}
#tick {
	display:inline-block;
	vertical-align: top;
	text-decoration:none;
}
#tick:hover {
	color: #4fc392;
}
#user-answers {
	font-size: 25px;
	font-weight:bolder;
	display: inline-block;
	padding: 0px;
	margin: 7px 0 0;
	font-family: $bebas;
	width: 55px;
}
.green-tick a, .green-tick {
	color: #4fc392;
	font-size: 43px;
	float:left;
	margin: 0px 4px 0 0;
}
.default-tick a, .default-tick {
	color: #bbb;
	font-size: 43px;
	float:left;
	margin: 0px 4px 0 0;
}
table .default-tick, .default-tick a, table .green-tick, table .grren-tick a {
	float:none;
}
//-------------------- Votes ----------------//

.vote {
	display:inline-block;
	color: #bbb;
	float: left;
	margin: 2px 5px 0 0;
}
.index-vote {
	color: white !important;
	font-weight: bolder;
	display: inline-block;
	padding: 9px 14px 6px;
	background: #ccc;
	font-weight: 300;
	margin: 4px 5px 0 0;
	font-size: 22px;
	font-family: $bebas;
}
.vote-box {
	display:inline-block!important;
	h1 {
		font-family: $bebas;
		font-weight:400;
		font-size: 43px;
		margin: 0px 3px 0px 0px;	
		letter-spacing:-2px;
		color: #bbb;
	}
}
#questions, #comments, #answers { 
	display: inline-block; 
}	
#arrows { 
	display: inline-block;
}	
#upvote {
	color: #bbb;
	font-family: $helvetica;
	&:hover {
		color: $green;
		text-decoration: none;
	}	
}
#downvote {
	color: #bbb;
	font-family: $helvetica;
	&:hover {
		color: $red;
		text-decoration: none;
	}	
}
.default-arrows h1 {
	color: #bbb;
	display:inline-block;
}
//-------------------- reputation ----------------//

.reputation {
	text-shadow: 0px 3px 3px #2a2a2a;
	padding: 2px 6px;
	margin-right: 0px;
}
#profile-reputation {
	color: $red;
	font-weight: 400;
	font-family: $bebas;
	margin-right: 3px;
}

//-------------------- tags + reports ----------------//

.tag-container {
	color: #777;
	font-weight: 300;
	margin: 0;
	padding: 5px 10px;
	@include box-sizing;
	vertical-align:top;
	display:inline-block;
	float:none!important;
	&:hover {
		background: #eee;
	}
	h6 {
		color: $green-sea;
		a {
			color: $green-sea;
		}
	}
}
.tag-search  a {
	color: #fff!important;
}
#tag-search-input {
	width:66%;
}
.tag_cloud {
	width:100%;
	display: inline-block;
	position: relative;
	text-align: left;
	margin: 0 auto;
}
.tag_cloud_tag, .tag_cloud_tag a {
	margin-bottom: 3px;
	display:inline-block;
}
// Find out what this is
#tags h1 {
	font-size: 20px;
	display:inline;
}
#tag-explanation {
	display:inline;
}
.tag {
	@include box-sizing;
	padding: 3px 7px;
	background: $red;
	display: inline-block;
	color: #fff;
	margin-bottom: 3px;
}
.current_tag {
	@include box-sizing;
	padding: 4px 8px;
	background: $teal;
}
a.tag, a.current_tag { 
	color: #fff;
	}
a.tag:link{
	
}	
a.tag:hover, a.current_tag:hover {
	background: $teal;
}	
a.tag:active, a.current_tag:active {
	background: $teal;
}
.report-container {
	font-weight: 300;
	margin: 0 5px;
	padding: 5px 10px;
	@include box-sizing;
	vertical-align:top;
	display:inline-block;
	float:none!important;
	.report-title {
		padding: 2px;
		font-size: 20px;
		font-weight:400;
	}
	.r-question {
		color: $green;
	}
	.r-answer {
		color: $teal;
	}
	.r-user {
		color :$red;
	}
}
.increase {
	color: $green!important;
	display:inline-block;
}
.decrease {
	color: $red!important;
	display:inline-block;
}
//-------------------- tags autocomplete  ----------------//

ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 100%;
	border: 1px solid #ccc;
    cursor: text;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}
ul.token-input-list li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
	list-style: none;
}
li.token-input-token {
    overflow: hidden; 
    margin: 3px;
    padding: 4px 8px;
	background: $red;
    color: #fff;
    cursor: default;
    @include border-radius(2px);
    float: left;
    white-space: nowrap;
}
li.token-input-tokenp {
    display: inline;
    padding: 0;
    margin: 0;
}
li.token-input-token span {
    color: #dedede;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}
li.token-input-selected-token {
    background-color: #fff;
    border: 1px solid #999;
}
li.token-input-input-token {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;	
}
li.token-input-token p {
	display: inline;
	margin-bottom: 0px;
	color: #fff;
}
div.token-input-dropdown {
    position: absolute;
    width: 100%;
    background-color: #fff;
	border: 1px solid #ccc;
    overflow: hidden;
    cursor: default;
    z-index: 1;
	color: #666;
}
div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
}
div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}
div.token-input-dropdown ul li {
    background-color: #ededed;
    padding: 5px;
    list-style-type: none;
	margin:5px 0px;
}
div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fff;
}
div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}
div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #fff;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item:hover {
    background-color: #eee;
	color: #444;
}

//-------------------- user stats  ----------------//

#stats {
	display: block;
}
.stat-box {
	width: 150px;
	margin: 0px 10px 0px 0;
	background: #ededed;
	display:inline-block;
	@include box-sizing;
	text-align:center;
}
.stat-title {
	width: 100%;
	background: $red;
	color: #fff;
	padding: 3px;
	@include box-sizing;
}
.stat-value h1 {
	font-size: 50px;
}

//----------- scrollbars -----------//

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #ddd;
	@include border-radius(1px);
	background-color: #f5f5f5;
}
::-webkit-scrollbar {
	height: 10px;
	background-color: #F5F5F5;
	-webkit-box-shadow: inset 0px 0px 6px #ddd; 
}
::-webkit-scrollbar-thumb {
	@include border-radius(1px);
	background: #ccc;
	cursor: pointer; 
}

// morris graphs //
.morris-hover-row-label {
	color: #444;
}
.morris-hover {
	position:absolute;
	z-index:1000;
	background: #fff; 
	padding: 10px; 
	border: 2px solid #ccc;
	@include border-radius(10px);
	line-height:20px;
}

// Featurettes //

#featurette {
	margin: 10px 0;
	border-bottom: 1px solid #eee;
	@include box-sizing;
	padding: 0px 20px;
	min-height:110px;
	&:last-of-type {
		border-bottom: 0px solid #fff;
	}
	[class^="icon-"], [class*=" icon-"] {
		margin-top: 0px;
	}
}
.featurette-heading {
	font-weight: 500;
	letter-spacing: -1px;
	font-family: $lucida;
}
#fullwidth {
	margin: -30px 0 30px;
	@include border-radius;
}
.fullwidth {
	width:100%;
}
ul.sitemap {
	margin: 0 0 10px 0px;
	li {
		list-style: none;
	}
} 

// Tags and search params
#nav_links {
	margin-bottom: 30px;
	position:relative;
}
#params {
	margin: 0px 0 15px;
}
#tag_cloud {
	margin-bottom: 15px;
}

// Popovers //

#nav-popover {
	height:1px;
	position:relative;
}