/* teebox green #4fc392 & #409C69 */

body { 
	font-family: 'LatoLight', sans-serif;
	font-weight: lighter;
	margin:0;
	height:100%;
	width:100%;
	}

/*--------------------- fonts ------------------------------------*/
	@font-face {
	  font-family: 'LatoLight';
	  src: url('<%= asset_path('Lato-Lig.ttf') %>');
	  font-weight: lighter;
	  font-style: normal;
	}
	
	h1 {
	    font-size: 36px;
	    font-family: "LatoLight", sans-serif!important;
		font-weight: 100;
	    margin-bottom: 9px;
	    margin-top: .5em;
		color: #F0745E;
	}

	h2 {
	    font-size: 25px; 
	    font-family: "LatoLight", sans-serif!important;
		font-weight: 100;
	    margin-top: .75em;
		color: #4da083;
	}

	h3 {
	    font-size: 22px; 
	    font-family: "LatoLight", sans-serif;
		font-weight: 100;
	    margin-bottom: .857em;
	    margin-top: .857em;
		color: #4da083;
	}

	h4 {
	    font-size: 18px;
		font-family:'LatoLight',sans-serif!important;
		font-weight:100;
		line-height:25px;
		margin-bottom: 0.5em;
	    
	}

	h5 {
	    font-size: 1.125em; /* = 18px */
	    margin-bottom: 1.125em;
	    margin-top: 1.125em;
	}

	h6 {
	    font-size: 1.000em; /* = 16px */
	    margin-bottom: 1.285em;
	    margin-top: 1.285em;
	}
	
	teebox, teebox a {
		font-size: 36px;
	    font-family: "LatoLight", sans-serif!important;
		font-weight: 200;
		text-shadow: 0px 3px 8px #2a2a2a;
		color: #999;

	}
	teebox a:hover, letter-press-link a:hover, .right-header a:hover, .left-header a:hover {
		text-decoration:none;
		color: #777;
	}
	.letter-press {
		color: #111;
		text-shadow: 0px 2px 3px #555;
		font-weight:300;
		}
		
	.letter-press-link {
		text-shadow: 0px 3px 3px #2a2a2a;
		color: #999;
		font-weight:300;
	}	
	
	small {
		line-height: 5px;
	}
/*----------------------Containers ------------------------------*/

.container {
	width:960px;
	padding: 10px;
	margin: 0 auto 0 auto;	
}

#main {
	margin-bottom:50px;
	
}

.sidebar {
	width:30%;
	padding: 10px;
	display:inline;
}
.container .home {
		text-align:center;
}
.logo {
	display:inline-block;
	width:100px;
}

.header-title {
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	margin-top:10px;
	color: #111;
	text-shadow: 0px 2px 3px #555;
	font-weight:300;
}

.alignright {
	position:absolute;
	top:auto;
	bottom: auto;
	right:0%;
	height: 100px;
	min-width:200px;
	font-size: 16px;
	line-height: 20px;
	text-align:right;
}
.signin {
	position:absolute;
	top:25%;
	right:0%;
	height: auto;
	text-align:right;
}
.profile_pic {
	float:right;
	margin-left:10px;
	width: 75px;
}
/* ------------------------- Header --------------------------------------------*/

.header {
	padding: 15px;
	width: 100%;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background: #474747 url(bg.png);
	/*-webkit-box-shadow: inset 0px -3px 10px -2px #737373;
	box-shadow: inset 0px -3px 10px -2px #737373;
	-moz-box-shadow: inset 0px -3px 10px -2px #737373;*/
}

.header_container {
	position:relative;
	width: 960px;
	margin: 0 auto 0 auto;
}

.left-header {
	position: relative;
	display:inline-block;
	width: 49%;
	text-align: left;
	vertical-align:middle;
}
.right-header {
	position: relative;
	display:inline-block;
	width: 49%;
	text-align: right;
	vertical-align:middle;
}
.right-header a {
		text-shadow: 0px 3px 3px #2a2a2a;
		color: #999;
		font-weight:300;
}
.ask-question {
	float: right;
}
/* ------------------------- Footer --------------------------------------------*/

#footer {
	position: relative;
	clear: both;
	width: 100%;
	height: 100px;
	background: url(bg-white.png);
	color: #999;
	text-shadow: 0px 2px 3px #fff;
	font-weight:300;
	
}


/*---------------------------- buttons -------------------------------------------*/


.btn-primary {
	
}

/*---------------------------- forms -------------------------------------------*/

input, textarea {
	width:100%;
}

input[type="text"] {
	margin-bottom: 0px;
}

form#new_video {
	margin: 0;
	display:none;
}

/*-------------------- errors ------------------*/

#error_explanation {
		background: #ededed;
		padding: 15px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-border-radius: 3px;		
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
.ui-helper-hidden-accessible {
		display:none;
}

/*---------------- sublime video settings ----------------*/
body .sublimevideo-zi .sublimevideo-uj {
	height: 700px!important;
	width: 100%!important;
}

.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 10px;
      background: #3EC144;
    }
  }
}

.video {
  .name {
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
  }

  .actions {
    font-size: 10px;
    text-align: center;
    color: #777;
  }
}


/*--------------------- Questions index ---------------------*/

.questions, .videos {
	display: inline-block;
	vertical-align:top;
	padding: 0px;
	margin: 5px;
	margin-bottom: 20px;
	width: 306px;
}

.questions h4, .videos h4, .questions h4 a, .videos h4 a {
	margin: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

.videos img {
		display: block;
		margin-left:auto;
		margin-right:auto;
		}	
		
/*--------------------------- video dropzone ------------------------*/


#dropzone {
    background: #E9E9E9;
    width: 400px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    font-weight: 100;
	border: 2px dashed #fff;
	box-shadow: 0 0 0 5px #e9e9e9;
	text-shadow: 0px 3px 3px #fff;
	color: #999;
	font-weight:400;
	font-size: 16px;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: #EEE;
	border: 2px dashed #fff;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

#progress, #dropzone {display:none;}

.progress .bar-success {
	background: #4fc392; /* Old browsers */
	background: -moz-linear-gradient(top, #4fc392 0%, #409c69 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4fc392), color-stop(100%,#409c69)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4fc392 0%,#409c69 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4fc392 0%,#409c69 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4fc392 0%,#409c69 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4fc392 0%,#409c69 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fc392', endColorstr='#409c69',GradientType=0 ); /* IE6-9 */}

/*-------- Header search ---------*/

#header-search {
	margin:0;
	color: #777;
	width: 220px;
	background: #474747 url(search.png);
	border: 1px solid #222;
	-webkit-box-shadow: 0px 2px 2px #777;  
	    -moz-box-shadow: 0px 2px 2px #777;  
	    box-shadow: 0px 2px 2px #777;
}

form#header {
	margin: 5px 0!important;
}


/*----------------------- pagination ----------------*/

.pagination {
  background: url(bg-white.png);
  text-align: center;
  padding: 1em;
  cursor: default; 
}
  .pagination a, .pagination span {
    padding: 0.2em 0.3em; 
}
  .pagination .disabled {
    color: #999;

}
  .pagination .current {
    font-style: normal;
    background-color: #bebebe;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
	color: #444;
	text-shadow: 0px 2px 2px #fff;
}
  .pagination a {
    text-decoration: none;
	color: #777;
	text-shadow: 0px 2px 2px #fff;
	font-weight:300;
}
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; 
}

/*-------------------- questions videos profile info ----------*/

.profile-info {
	display:inline;
}
.profile-info img {
	float: left;
	margin-right: 5px;
}

/*-------------------- comments----------*/
#comment-textarea {
		height: 70px;
}

.comment-content {
	margin-bottom: 10px;
}