@import "variables";

// Teebox logo icon //

@font-face {
  font-family: "teebox";
  src: url("./teebox_504b1ba5684423954b4c617b123cf4c2.eot");
  src: url("./teebox_504b1ba5684423954b4c617b123cf4c2.eot?#iefix") format("embedded-opentype"),
       url("./teebox_504b1ba5684423954b4c617b123cf4c2.woff") format("woff"),
       url("./teebox_504b1ba5684423954b4c617b123cf4c2.ttf") format("truetype"),
       url("./teebox_504b1ba5684423954b4c617b123cf4c2.svg#teebox") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "teebox";
    src: url("./teebox_504b1ba5684423954b4c617b123cf4c2.svg#teebox") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-teebox:before {
  display: inline-block;
  font-family: "teebox";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-teebox:before { content: "\f100"; }

// custom sizes + colors //
.large {
	vertical-align:middle;
	font-size: 26px;
}
.red, red {
	color: $red;
	li, a {
		color: $red;
	}
}
.green, green {
	color: $green;
	a {
		color: $green;
	}
}
.points {
	color: $asphalt;
}
.white {
	color: #fff;
}
.universe {
	color: $asphalt;
	display: inline;
	margin: 0 5px 0 0;
}

// Social Icons //

.social-buttons {
	display:inline-block;
	width:100%;
	margin-top:2px;
	a {
		margin-right:5px;
	}
}
.facebook {
	color: #3B5998;
}
.google {
	color: #dd4b39;
}
.twitter {
	color: #4099FF;
}
.facebook, .google, .twitter {
	&:hover {
		color: $blackhole;
	}
}
// end //

.white-shadow {
	text-shadow: 0px 2px 0px #fff;
}
.right-margin {
	margin: 0 10px 0 0;
}
.xl {
	vertical-align:middle;
	font-size: 100px!important;
}
.upload-icon {
	margin: 5px 10px;
}
.modal-header .close, .close a {
	color: $red;
	text-shadow: 0 1px 0 $blackhole;
	opacity: 1.0;
}
.rotate90 {
	height:105px;
	margin: 0 30px 0 20px;
	display:inline-block;
	-moz-transform: rotate-(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
