
/* Bootstrap + browser overrides*/
/*---- container -------*/

#margin-bottom {
	margin-bottom: 40px;
}

/*-------- navbar --------*/

.navbar .container {
	margin-top: 6px;
	margin-bottom: 6px;
}
.navbar-inner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.navbar-inner {
	background: #31838f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiMzMTgzOGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTI1YTY4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #31838f 10%, #125a68 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#31838f), color-stop(100%,#125a68)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #31838f 10%,#125a68 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #31838f 10%,#125a68 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #31838f 10%,#125a68 100%); /* IE10+ */
	background: linear-gradient(to bottom, #31838f 10%,#125a68 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31838f', endColorstr='#125a68',GradientType=0 ); /* IE6-8 */
	border:none;
}
.navbar {
	margin-bottom: 30px;
}
.navbar .brand {
	font-family: 'BebasNeueRegular';
	font-size: 28px;
	color: #0A323A;
	letter-spacing: 1px;
	text-shadow: 0px 1px 1px #297D8B;
}
.navbar .brand:hover,.navbar .nav > li > a:hover {
	color: #fff!important;
	text-shadow: 0px 1px 1px #0A323A;
}
.navbar .nav > li > a {
	font-weight:bold;
	color: #0A323A;
	text-shadow: 0px 1px 1px #297D8B;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #fff;
	background: #0A323A;
}
.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
	top: 44px;
}
.navbar .nav > li > a:hover {
	color: #999;
}
.dropdown .dropdown-menu .nav-header {
	color: #31838F;
}

.navbar .btn-navbar {
	background:#0A323A ;
}

.navbar .nav li #gravatar {
	padding: 5px 0px 0 5px;
}
.dropdown-menu li > a {
	color: #31838f;
}
.dropdown-menu li > a:hover {
	background:#0A323A;
}
.dropdown-menu {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.gravatar {
	width: 50px;
	height: 100%;
	min-height: 52px;
	margin: 0 10px 0px 0px;
	float: left;
} 
.message {
	display:inline;
}
#notification {
	height: auto;
	padding: 10px 15px 10px;
	border-top: 1px solid #eee;
}
#notification:last-of-type {
	border-bottom: 1px solid #eee;
}
#notification:hover {
	background: #eee;
}
#current-user {
	padding-left: 5px;
}

#current-user-rep {
	color: #E95A4D;
	margin-top:1px;
	padding-right: 0px;
	font-weight: bold;
	text-shadow: 0px 1px 1px #333;
}

#no-padding {
	padding-left: 0px;
	padding-right: 0px;
}
/*---------------------+ forms----------------------*/


select, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], input[type="week"], 
input[type="number"], input[type="email"], input[type="url"], 
input[type="search"], input[type="tel"], input[type="color"], 
.uneditable-input {
	height: 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

textarea, iframe.wysihtml5-sandbox {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	width:100%!important;
}
iframe.wysihtml5-sandbox {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* ----------- input field -------*/

.fileUpload {
	position: relative;
	overflow: hidden;
	display:inline;
}
.fileUpload input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

input, textarea {
	width:100%;
	
}

.input-xlarge {
margin: 0px 0px 10px;
}

input[type="text"] {
	margin-bottom: 0px;
}

form#new_video {
	margin: 0;
	display:none;
}

input:-webkit-autofill {
	background-color: #fff!important; 
}

/*------ hero unit -------*/

.hero-unit h1 {
    font-size: 36px;
	font-weight: 100;
    margin-bottom: 12px;
    margin-top: .5em;
	color: #E95A4D;
	/*text-shadow: 0px 2px 2px #777;		*/
	letter-spacing:0px;
					
}
.hero-unit {
	padding: 30px 60px;
	font-size:14px;
}

/* backgrounds */
	
.forest {	
	background: url(teebox-landscape-tall.png);
	color: #fff;
	background-position: center bottom;
}
.sky {
	background: url(teebox-landscape-tall.png);
	color: #fff;
	background-position: center center;	
}
.kauri {
	background: url(teebox-kauri.png);
	color: #fff;
	background-position: center 70%;	
}
.beach {
	background: url(teebox-beach.png);
	color: #fff;
	background-position: center 92%;	
}
.ocean {
	background: url(teebox-ocean.png);
	color: #fff;
	background-position: center 70%;	
}
.sky a, .beach a, .ocean a, .kauri a {
	color: #fff;
	font-weight:bold;
}
.sky label, .beach label, .ocean label {
}
