@import "variables.css.scss";

// Buttons //

form .btn {
	border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	color: #fff!important;
	text-shadow: 0px 0px 0px #fff!important;
	background: #888;
	border: none!important;
	background-image: none!important;
	background-color: #888!important;
	border-color: #888!important;
	box-shadow: 0px 0px 0px #fff;
	-webkit-box-shadow: 0px 0px 0px #fff;
	-moz-box-shadow: 0px 0px 0px #fff;
}
.btn:hover {
	background: #999;
	background-color: #999!important;
}

//---- containers -------//

#margin-bottom {
	margin-bottom: 40px;
}
.container-xl {
	width:100%;
}

/*-------- navbar --------*/

.navbar .container {
	margin-top: 3px;
	/*margin-bottom: 6px;*/
	max-width:1170px;
}
.navbar-inner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.navbar-inner {
	border: none;
	background: #125a68; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiMzMTgzOGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTI1YTY4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, $teal 10%, #125a68 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,$teal), color-stop(100%,#125a68)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $teal 10%,#125a68 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $teal 10%,#125a68 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $teal 10%,#125a68 100%); /* IE10+ */
	background: linear-gradient(to bottom, $teal 10%,#125a68 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31838f', endColorstr='#125a68',GradientType=0 ); /* IE6-8 */
	border:none;
}
.navbar {
	margin-bottom: 30px;
}
.navbar .brand {
	font-family: 'BebasNeueRegular';
	font-size: 28px;
	color: $ocean;
	letter-spacing: 1px;
	text-shadow: 0px 1px 1px #297D8B;
	padding: 12px 20px;
}
.navbar .beta {
	color: #fff;
}
.navbar .brand:hover,.navbar .nav > li > a:hover {
	color: #fff!important;
	text-shadow: 0px 1px 1px $ocean;
}
.navbar .nav > li > a {
	font-weight:bold;
	color: #0A323A;
	text-shadow: 0px 1px 1px #297D8B;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #fff;
	background: $ocean;
}
.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
	top: 44px;
}
.navbar .nav > li > a:hover {
	color: #999;
}
.dropdown .dropdown-menu .nav-header {
	color: $teal;
}
.dropdown-backdrop {
    position: static;
}
.navbar .btn-navbar {
	background:$ocean ;
}
.navbar .nav li #gravatar {
	padding: 5px 0px 0 5px;
}
.dropdown-menu li > a {
	color:$teal;
}
.dropdown-menu li > a:hover {
	background:$ocean;
}
.dropdown-menu {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.dropdown-menu {
	/*padding: 0px;*/
}
.navbar .btn-navbar {
	background: $midnight;
}
.navbar .btn-navbar:hover {
	background: $ocean;
}
.navbar .nav-info a {
	display:inline-block;
	vertical-align:middle;
}
.cog {
	margin-top: -2px;
}

/*---------non bootstrap custom nav elements --------*/
.gravatar {
	width: 50px;
	height: 100%;
	min-height: 52px;
	margin: 0 10px 0px 0px;
	float: left;
} 
.message {
	display:inline;
}
/* Notifications count in header --*/

#notifications {
	background: $ocean;
	padding: 5px 11px 5px;
	margin: 5px 5px 2px;
	color: #fff;
	box-shadow: 0px 1px 1px $teal;
}

.new-notifications {
	background: $red!important;
	box-shadow: 0px 0px 2px $universe!important;
	color: #fff;
}
/*@-webkit-keyframes pulse_animation {
	0% { background: $red; }
	50% { background: $dark-red; }
	100% { background: $red;  }
}
.pulse {
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 5000ms;
	-webkit-transform-origin:70% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}*/
.notifications-count {
	font-weight:400!important;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 1px #000;
}
#notifications:hover {
	background: $universe;
}

/*-- Notifications in dropdown --*/

#notification {
	height: auto;
	padding: 10px 15px 10px;
	border-top: 1px solid #E9E9E9;
}
#notification:last-of-type {
	border-bottom: 1px solid #E9E9E9;
}
#notification:hover {
	background: #eee;
}
.unread {
	background: #f0f0f0;
}

/*-- current user elements --*/

#current-user {
	padding-left: 5px;
	display:inline-block;
}
#current-user-rep, #current-user-rep a {
	color: $red;
	font-weight: bold;
	display:inline-block;
	text-shadow: 0px 1px 1px #000;
}
#no-padding {
	padding-left: 0px;
	padding-right: 0px;
}
#no-margin {
	margin: 0px;
};
/*---------------------+ forms----------------------*/

input {
	vertical-align:bottom;
}
select, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], input[type="week"], 
input[type="number"], input[type="email"], input[type="url"], 
input[type="search"], input[type="tel"], input[type="color"], 
.uneditable-input {
	height: 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
input[type="password"] {
	margin-bottom: 0px;
}
textarea, iframe.wysihtml5-sandbox {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	width:100%!important;
	max-height:250px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
iframe.wysihtml5-sandbox {
	max-height:200px;
}
#search-tags {
	width: 73%;
}
.form-area {
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	margin-bottom: 1px;
	background: #ddd;
	border-top: 1px solid #dedede;
	max-width: 1040px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-weight:300;
}
label {
	font-size: 18px;
	font-weight: 200;
	color: #06434D;
	vertical-align: middle;
}

#user_remember_me {
	margin: 0px 0 9px;
}
input[type="email"]
{
	margin: 0px;
}
.registration {
	margin: 0px 0 20px;
}
.remember_me {
	display:inline-block;
	margin-bottom: 0px;
}
/* ----------- file uplaod input field -------*/

.fileUpload {
	position: relative;
	overflow: hidden;
	display:inline-block;
}
.fileUpload input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
input, textarea {
	width:100%;	
}
.input-xlarge {
margin: 0px 0px 10px;
}
input[type="text"] {
	margin-bottom: 0px;
}
form#new_video {
	margin: 0;
	display:none;
}
#search {
	background:$ocean;
	border:none;
	box-shadow: 0px 1px 1px #297D8B;
	color: #fff;
}
#search-tags {
	background: $blackhole;
	border:none;
	box-shadow: 0px 1px 1px #297D8B;
	color: #fff;
}
/*---------------- hero unit + wells----------------------*/

.hero-unit h1 {
    font-size: 36px;
	color: $red;
	margin-bottom: 12px;
	margin-top: 10px;
}
.hero-unit {
	padding: 30px 60px;
	font-size:14px;
}


/* Tables */

.table-borderless td,
.table-borderless th {
    border: 0;
}

.table th, .table td {
	text-align:center;
	vertical-align: middle;
}
table , .table a { 
	color: $teal; 
}
/* misc */

.left {
	text-align:left!important;
}
.margin-t-6 {
	margin-top: 6px;
}
.margin-b-5 {
	margin-bottom: 5px;
}
.inline {
	display:inline;
}
.inline-block {
	display:inline-block;
}
#user-banner {
	margin-top:20px;
}
.zero-margin {
	margin: 0px;
}
/*-------------------- errors ------------------*/

#error_explanation {
		background: $red;
		padding: 15px 30px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		margin-bottom: 20px;	
		h2 {
			margin:0px;
			color: #ddd;
		}	
		ul li {
			color: #fff;
		}
}

/* alerts */
.alert {
	font-weight:bold;
}
.alert-success {
	background: $green;
	border: 0px solid #137F51;
	#flash {
		color: #1C6150;
		text-shadow: 0 1px 1px #B0CEB6;
	}
}
.alert-error {
	background: $red;
	border: 0px solid $dark-red;
	#flash {
		color: $dark-red;
	}
}

/* Modal */

.modal-header {
	background: $universe;
}
.modal-header h3 {
	color: #fff!important;
	text-shadow: 0px 2px 0px $asphalt;
	letter-spacing: 0px!important;
	/*font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-weight:300!important;
}

/* carousel */

.carousel-control {
	top:45%;
	font-size: 40px;
	text-align: center;
	background: none;
	border: 0px solid #ffffff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 0px;
	opacity: 0.5;
}
.carousel-indicators {
	
}
.slide, .left {
	background: transparent!important;
}
.muted {
	color: #bbb;
}