@import "variables";

// Buttons //

form .btn {
	//@include border-radius(0px!important);
	color: #fff!important;
	text-shadow: 0px 0px 0px #fff!important;
	background: #888;
	border: none!important;
	background-image: none!important;
	background-color: $gundam!important;
	border-color: $gundam!important;
	@include box-shadow(0px,0px,0px,#fff);
}
.btn:hover {
	background: #444;
	background-color: #999!important;
}

//---- containers -------//

#margin-bottom {
	margin-bottom: 40px;
}
.container-xl {
	width:100%;
}

// Helper for centering span* content blocks
.center-block {
	margin-left: auto;
	margin-right: auto;
	display:block;
	[class*="span"] {
		float:none!important;
		margin: 0 auto;
	}
}

//-------- navbar --------//

.navbar .container {
	max-width:1170px;
}
.navbar {
	border:none!important;
	background: $universe;
	@include border-radius(0px!important);
	
}
.navbar {
	margin-bottom: 30px;
}
.navbar .navbar-brand {
	font-family: 'BebasNeueRegular';
	font-size: 26px;
	color: $light-gundam;
	letter-spacing: 1px;
	padding: 11px;
}
.navbar .brand:hover,.navbar .nav > li > a:hover {
	color: #fff!important;
	//text-shadow: 0px 1px 1px $ocean;
}
.navbar .nav > li > a {
	font-weight:bold;
	color: $light-gundam;
	background: $universe;
	&:hover {
		background: $blackhole;
	}
	//text-shadow: 0px 1px 1px #297D8B;
	//text-shadow: 0px 0px 0px #297D8B;
	//padding: 10px 15px 10px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #fff;
	background: $ocean;
	//padding-bottom: 7px;
}
.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
	top: 40px;
}
.navbar .nav > li > a:hover {
	color: #999;
}
.dropdown .dropdown-menu .nav-header {
	color: $teal;
}
.dropdown-backdrop {
    position: static;
}
.navbar .navbar-toggle {
	background:$ocean;
	margin-top:6px;
	color: #fff;
	border: 1px solid $universe;
	.icon-bar {
		background: #fff;
	}
	&:hover {
		background: $universe!important;
	}
	&:focus {
		background: $blackhole;
	}
}

.dropdown-menu li > a {
	color:$teal;
	&:hover {
		background:$ocean;
		color: #fff;
	}
}
.dropdown-menu {
	@include border-radius;
}
ul #notifications-area {
	width:500px;
}
.navbar .nav-info a {
	display:inline-block;
	vertical-align:middle;
}
.cog {
	font-size: 18px;
	vertical-align: middle!important;
}

// font //
.lead {
	font-size: 18px;
	margin-bottom: 10px;
}
.big-lead {
	@extend .lead;
	font-size: 28px;
	margin: 0 0 15px;
}
//---------non bootstrap custom nav elements --------//
#gravatar {
	&.edit {
		float:left;
		margin-right:10px;
	}
}
.gravatar {
	width: 50px;
	height: 100%;
	min-height: 52px;
	margin: 0 10px 0px 0px;
	float: left;
} 
.message {
	display:inline;
}
// Notifications count in header --//

#notifications {
	font-family: $bebas;
	//background: $ocean;
	//padding: 5px 12px 5px;
	//margin: 9px 0px 2px;
	//color: #fff;
	//@include box-shadow(0px,1px,1px,$teal);
	//&:hover {
	//		background: $universe;
	//	}
}
.new-notifications {
	background: $red!important;
	//@include box-shadow(0px,0px,2px,$universe!important);
	color: #fff;
}
.notifications-count {
	font-weight:400!important;
	font-size: 20px;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
}

//-- Notifications in dropdown --//

#notification {
	height: auto;
	padding: 10px 15px 10px;
	border-top: 1px solid #E9E9E9;
	&:hover {
		background: #eee;
	}
	&:last-of-type {
		border-bottom: 1px solid #E9E9E9;
	}
}
.unread {
	background: $ice;
}

//-- current user elements --//

#current-user {
	padding-left: 5px;
	display:inline-block;
}
#current-user-rep, #current-user-rep a {
	color: $red;
	font-weight: bold;
	display:inline-block;
	//text-shadow: 0px 1px 1px #000;
}
#no-padding {
	padding-left: 0px;
	padding-right: 0px;
}
#minimal-padding {
	padding-left: 10px;
	padding-right:10px;
}
#no-margin {
	margin: 0px;
};
//---------------------+ forms----------------------//

input {
	vertical-align:bottom;
	font-family: $lucida;
}
select, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], input[type="week"], 
input[type="number"], input[type="email"], input[type="url"], 
input[type="search"], input[type="tel"], input[type="color"], 
.uneditable-input {
	@include box-sizing;
	//@include border-radius;
}
input[type="password"], input[type="email"] {
	margin-bottom: 0px;
}
.input-prepend {
	margin-bottom:0px;
}

textarea, iframe.wysihtml5-sandbox {
	@include border-radius(4px);
	width:100%!important;
	max-height:350px;
	@include box-sizing;
	font-family: $lucida;
	border: 1px solid #ccc;
	body {
		img {
			width:100%!important;
		}
		width:100%!important;
	}
	//word-wrap: break-word!important;
}
iframe.wysihtml5-sandbox {
	max-height:500px;
}
.form-area {
	padding: 10px;
	margin-top: 10px;
	@include border-radius(4px);
	margin-bottom: 1px;
	background: #fff;
	border-top: 1px solid #fff;
	max-width: 1040px;
	@include box-sizing;
	font-weight:300;
}
label {
	font-size: 18px;
	font-weight: 200;
	color: #06434D;
	vertical-align: middle;
	.modal & {
		font-size: 14px;
	}
}
.input-xxlarge {
	width:100%;
}
.registration {
	margin: 0px 0 20px;
	&.check {
		margin-bottom: 0px;
	}
	input[type="checkbox"] {
		margin: 0px 0px 9px;
	}
}
.remember_me {
	display:inline-block;
	margin-bottom: 0px;
}
label.notify {
	font-size: 12px;
}
// ----------- file uplaod input field -------//

.fileUpload {
	position: relative;
	overflow: hidden;
	display:inline-block;
}
.fileUpload input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
//input, textarea {
//	width:100%;	
//}
.input-xlarge {
margin: 0px 0px 10px;
}
input[type="text"] {
	margin-bottom: 0px;
}
form#new_video {
	margin: 0;
	display:none;
}
#search {
	background:$gundam;
	border:none;
	//@include box-shadow(0px,1px,1px,#297D8B);
	color: #fff;
	//margin-top: 6px;
	&:focus {
		background: $light-gundam;
		-webkit-box-shadow: 0 0 1px #fff;
		-moz-box-shadow: 0 0 1px #fff;
		box-shadow: 0 0 1px #fff;
	}
}
#search-tags {
	width: 60%;
	margin: auto auto 10px;
	@extend #search;
}
//---------------- hero unit + wells----------------------//

.hero-unit {
	padding: 30px 60px;
	font-size:14px;
	@include box-sizing;
	@include border-radius(4px);
	h1 {
	    font-size: 36px;
		color: $red;
		margin-bottom: 12px;
		margin-top: 10px;
	}
}
.well {
	@include box-sizing;
}

// Tables //

table.teebox-table {
	margin-bottom: 5px;
	tr:hover {
		background: $ice;
	}
	td {
		text-align:left;
		&.vote-container {
			white-space: nowrap;
			padding: 0px;
			text-align:center;
		}
	}
	img {
		width:100%;
		max-width:50px;
		margin: 0 0px 0px 10px;
		float: none;
	}
}
.navbar table.teebox-table {
	tr:last-of-type {
		border-bottom: 1px solid #ddd;
	}
}
.table-borderless td,
.table-borderless th {
    border: 0;
}

table.article {
	td, tr, th {
		text-align:left;
	}
}

.table th, .table td {
	text-align:center;
	vertical-align: middle;
}
.table a { 
	color: $teal; 
}
// misc //

.left {
	text-align:left!important;
}	
.margin-t-6 {
	margin-top: 6px;
}
.margin-b-5 {
	margin-bottom: 5px;
}
.inline {
	display:inline;
}
.inline-block {
	display:inline-block;
}
#user-banner {
	margin-top:20px;
}
.zero-margin {
	margin: 0px;
}
//-------------------- errors ------------------//

#error_explanation {
	background: $red;
	padding: 15px 30px;
	@include border-radius(4px);
	margin-bottom: 20px;	
	h2 {
		margin:0px;
		color: #ddd;
	}	
	ul li {
		color: #fff;
	}
}

// alerts //

// Rule for the full width layout alerts
body .banner-alert {
	@include box-sizing;
	@include border-radius(0px);
	margin: -30px 0px 30px 0px;
}
// end

.alert {
	font-weight:bold;
}
.alert-success {
	background: $green;
	border: 0px solid #137F51;
	#flash {
		color: #1C6150;
		text-shadow: 0 1px 1px #B0CEB6;
	}
}
.alert-error {
	background: $red;
	border: 0px solid $dark-red;
	#flash {
		color: $dark-red;
	}
}
#enable-javascript {
	color: #fff;
	text-shadow: 0px 0px 0px #000;
	#flash {
		color: #1C6150;
		text-shadow: 0 0px 0px #fff;
		color: #fff;
	}
	a {
		color: $universe;
	}
}

// Modal //
.modal-header {
	background: $universe;
}
.modal-header h3 {
	color: #fff!important;
	text-shadow: 0px 2px 0px $asphalt;
	letter-spacing: 0px!important;
	font-weight:300!important;
}

// Popover //
.popover {
	padding:0px;
	h3.popover-title {
		font-family: $lucida;
		color: $red;
		background: $midnight;
		font-weight:bold;
	}
	.popover-content p {
		margin-bottom: 5px;
	}
}	
.tour-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000;
  opacity: 0.8;
}
.tour-step-backdrop {
  position: relative;
  z-index: 1031;
  background: inherit;
}
.tour-step-background {
  position: absolute;
  z-index: 1030;
  background: inherit;
  border-radius: 6px;
}
.popover[class*="tour-"] {
  z-index: 1030;
}
.popover[class*="tour-"] .popover-navigation {
  padding: 9px 14px;
}
.popover[class*="tour-"] .popover-navigation *[data-role=end] {
  float: right;
}
.popover[class*="tour-"] .popover-navigation *[data-role=prev],
.popover[class*="tour-"] .popover-navigation *[data-role=next],
.popover[class*="tour-"] .popover-navigation *[data-role=end] {
  cursor: pointer;
}
.popover[class*="tour-"] .popover-navigation *[data-role=prev].disabled,
.popover[class*="tour-"] .popover-navigation *[data-role=next].disabled,
.popover[class*="tour-"] .popover-navigation *[data-role=end].disabled {
  cursor: default;
}
.popover[class*="tour-"].orphan {
  position: fixed;
  margin-top: 0;
}
.popover[class*="tour-"].orphan .arrow {
  display: none;
}
.tour-step-background {
	@include border-radius;
	background: #f2f2f2;
}
.muted {
	color: #bbb;
}