@import "variables.css.scss";


@media (min-width: 1200px) {
}
@media (min-width: 980px) and (max-width: 1199px) {
	.navbar .container {
		max-width: 940px;
	}
	.comment-content {
		width:83%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.navbar .container {
		max-width: 724px;
	}
	.question-info {
		width:80%;
	}
	.index-title {
		font-size: 15px;
	}
	#notifications {
		border-radius: 0px;
		margin: 5px 0px 2px;
	}
	.navbar .unread {
		background: $blackhole!important;
	}
	#notifications-area {
		width:100%;
		margin: 0 0 2px;
	}
	.navbar #notification:last-of-type {
		border-bottom: 1px solid $midnight;
	}
	.nav-collapse .nav > li {
		background: $ocean;
		color: #fff;
	}
	.nav-collapse .nav > li a {
		color: #fff;
		text-shadow: 0 0 0;
		text-align: center;
	}
	.nav-collapse .nav > li a:hover {
		background: $universe;
	
	}
	.nav-collapse .navbar-form {
		padding: 0px;
		border: none;
	}
	.nav-collapse .dropdown-menu {
		margin: 0;
	}
	li .nav-header, .dropdown .dropdown-menu .nav-header {
		color: $red;
		text-align: center;
	}
	.navbar #notification {
		margin: 0px;
		border-top: 1px solid $ocean;
		background: $universe;
	}
	.navbar #notification a {
		color: $green;
		background: none;
		padding: 0px;
		font-weight: 500;
	}
	.navbar #notification:hover {
		background: $ocean;
	}
	#no-padding {
		padding-left: 5px;
		padding-right: 5px;
	}
	.comment-content {
		width:75%;
	}
	.container .semi {
		width:100%;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	body {
		padding-top: 0px!important;
		padding-bottom: 0px!important;
		padding-left: 0px!important;
		padding-right: 0px!important;
	}
	#margin-bottom {
		margin: 0 20px;
	}
	#mini-push {
		height:0px;
	}
	#notifications {
		border-radius: 0px;
		margin: 5px 0px 2px;
	}
	.navbar .unread {
		background: $blackhole!important;
	}
	#notifications-area {
		width:100%;
		margin: 0 0 2px;
	}
	.navbar #notification:last-of-type {
		border-bottom: 1px solid $midnight;
	}
	.padded {
		padding: 10px 20px 0;
	}
	.question-image {
		display:none;
	}
	.index-title {
		font-size: 15px;
		margin: 0px;
	}
	.nav-collapse .nav > li {
		background: $ocean;
		color: #fff;
	}
	.nav-collapse .nav > li a {
		color: #fff;
		text-shadow: 0 0 0;
		text-align: center;
	}
	.nav-collapse .nav > li a:hover {
		background: $universe;
	
	}
	.nav-collapse .navbar-form {
		padding: 0px;
		border: none;
	}
	.nav-collapse .dropdown-menu {
		margin: 0;
	}
	li .nav-header, .dropdown .dropdown-menu .nav-header {
		color: $red;
		text-align: center;
	}
	.navbar #notification {
		margin: 0px;
		border-top: 1px solid $ocean;
		background: $universe;
	}
	.navbar #notification .gravatar {
		display:none;
	}
	.navbar #notification a {
		color: $green;
		background: none;
		padding: 0px;
		font-weight: 500;
	}
	.navbar #notification:hover {
		background: $ocean;
	}
	.show {
		display:none;
	}
	ul.wysihtml5-toolbar {
		display:none;
	}
	.question-info {
		width: 100%;
	}
	.comment-content {
		width:75%;
	}
	.container .semi {
		width:100%;
	}
}
@media (min-width: 270px) and (max-width: 480px) {
	body {
		padding-top: 0px!important;
		padding-bottom: 0px!important;
		padding-left: 0px!important;
		padding-right: 0px!important;
	}
	#margin-bottom {
		margin: 0 20px 20px;
	}
	#mini-push {
		height:0px;
	}
	#no-padding {
		padding-left: 5px;
		padding-right: 5px;
	}
	#notifications {
		border-radius: 0px;
		margin: 5px 0px 2px;
	}
	.navbar .unread {
		background: $blackhole!important;
	}
	#notifications-area {
		width:100%;
		margin: 0 0 2px;
	}
	.navbar #notification:last-of-type {
		border-bottom: 1px solid $midnight;
	}
	.padded {
		padding: 10px 20px 0;
	}
	.question-image {
		display:none;
	}
	.index-title {
		font-size: 15px;
		width:100%;
		margin: 0px;
		font-weight: 500;
	}
	#index {
		width:100%;
	}
	.nav-collapse .nav > li {
		background: $ocean;
		color: #fff;
	}
	.nav-collapse .nav > li a {
		color: #fff;
		text-shadow: 0 0 0;
		text-align: center;
	}
	.nav-collapse .nav > li a:hover {
		background: $universe;
	
	}
	.nav-collapse .navbar-form {
		padding: 0px;
		border: none;
	}
	.nav-collapse .dropdown-menu {
		margin: 0;
	}
	li .nav-header, .dropdown .dropdown-menu .nav-header {
		color: $red;
		text-align: center;
	}
	.navbar #notification {
		margin: 0px;
		border-top: 1px solid $ocean;
		background: $universe;
	}
	.navbar #notification .gravatar {
		display:none;
	}
 	.navbar #notification a {
		color: $green;
		background: none;
		padding: 0px;
		font-weight: 500;
	}
	.navbar #notification:hover {
		background: $ocean;
	}
	.hero-unit {
		padding: 30px 30px;
	}
	.show {
		display:none;
	}
	.default {
		margin-top: 10px;
	}
	ul.wysihtml5-toolbar {
		display:none;
	}
	.question-info {
		width: 100%;
	}
	.profile-info {
		width: 100%;
	}
	.comment-content {
		width: 70%;
	}
	.comment-grav {
		display:none;
	}
	.container .semi {
		width:100%;
	}
	#nav_links {
		margin-top: -20px;
	}
	.answer-box {
		padding: 0px 0px 10px 0px;
		border:none;
		border-bottom: 1px solid #eee;
		margin-bottom: 10px;
	}
	#question-box {
		padding:0px;
		border: 0px solid #eee;
	}
	.carousel-control {
		top: 76%;
	}
}
