@media (min-width: 1200px) {
}
@media (min-width: 980px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 979px) {
	.question-info {
		width:80%;
	}
	.index-title {
		font-size: 15px;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.question-image {
		display:none;
	}
	.index-title {
		font-size: 15px;
	}
}
@media (min-width: 270px) and (max-width: 480px) {
	.question-image {
		display:none;
	}
	.index-title {
		font-size: 15px;
	}
}
