@import "variables";

@media (min-width: 1200px) {
}
@media (min-width: 990px) and (max-width: 1199px) {
	.navbar .container {
		max-width: 940px;
	}
}
@media (min-width: 768px) and (max-width: 989px) {
	// fonts 
	h3 {
		font-size: 20px;
		line-height: 24px;
	}
	.navbar .container {
		max-width: 724px;
	}
	.question-info {
		width:80%;
	}
	.index-title {
		font-size: 14px;
		line-height:1.2;
	}
	#notifications {
		@include border-radius;
		//margin: 5px 0px 1px;
		box-shadow: none;
	}
	.navbar .brand {
		padding: 7px 20px 10px 5px;
	}
//	ul#notifications-area {
//		width:100%;
//		border: none;
//	}
	.nav-collapse .nav > li {
		background: $ocean;
		color: #fff;
	}
	.nav-collapse .nav > li a {
		color: #fff;
		text-shadow: 0 0 0;
		text-align: center;
		padding: 5px 15px;
		margin-bottom: 1px;
	}
	.nav-collapse .nav > li a:hover {
		background: $universe;
	}
	.nav-collapse .navbar-form {
		padding: 0px;
		border: none;
	}
	.nav-collapse .dropdown-menu {
		margin: 0;
	}
	li .nav-header, .dropdown .dropdown-menu .nav-header {
		color: $red;
		text-align: center;
	}
	.navbar table.teebox-table {
		margin-bottom:0px;
		tr:last-of-type {
			//border-bottom: 1px solid $ocean;
		}
		td {
			//margin: 0px;
			//border-top: 1px solid $ocean;
			//background: $universe;
		}
		a {
			//color: $green;
			//background: none;
			//padding: 0px;
			//font-weight: 500;
		}
		tr.unread {
			td {
				//background: $blackhole;
			}
		}
	}
	#search {
		margin-top: 0px;
	}
	#no-padding {
		padding-left: 5px;
		padding-right: 5px;
	}
	.container .semi {
		width:100%;
	}
	.cog {
		margin-top: 0px;
		i {
			font-size: 18px;
		}
	}
	.home .ch-item h1 {
		margin-top: 26px;
	}
	.home .ch-grid li {
		height:90px;
		width:90px;
	}
	.home .ch-info {
		h3 {
			padding-top:25px;
		}
	}
	.mobile {
		-webkit-transition: all 0.5s ease;
     	-moz-transition: all 0.5s ease;
      	-o-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;

		h4 {
			font-size: 16px;
		}
	}
	p.banner {
		font-size: 14px;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	body {
		padding-top: 0px!important;
		padding-bottom: 0px!important;
		padding-left: 0px!important;
		padding-right: 0px!important;
		font-weight: 300;
	}
	// fonts 
	h3 {
		font-size: 20px;
		line-height: 24px;
	}
	#margin-bottom {
		margin: 0 20px 20px;
	}
	#mini-push {
		height:0px;
	}
	#notifications {
		@include border-radius;
		//margin: 5px 0px 1px;
		box-shadow: none;
		&:active {
			background: $blackhole;
		}
	}
	.navbar .brand {
		padding: 7px 20px 10px 5px;
	}
	.navbar .unread {
		background: $blackhole!important;
	}
	ul#notifications-area {
		width:100%;
		border:none;
		//margin: 0 0 1px;
	}
	.padded {
		padding: 10px 20px 0;
	}
	.question-image {
		display:none;
	}
	.title-holder {
		height:auto;
	}
	.index-title {
		font-size: 14px;
		width:100%;
		margin: 0px;
		font-weight: 300;
		height:auto;
		line-height:1.5;
	}
	// NAVBAR
	.navbar-default {
		.navbar-header {
			border-bottom: 1px solid $blackhole;
		}
		.navbar-collapse, .navbar-form {
			border: none;
			box-shadow: none;
		}
		.navbar-form {
			margin: 0px;
			border-bottom: 1px solid $blackhole;
		}
	}
	.nav-collapse .nav > li {
		background: $ocean;
		color: #fff;
	}
	.nav > li {
		text-align: center;
		border-bottom: 1px solid $blackhole;
	}
	.nav-collapse .nav > li a {
		color: #fff;
		text-shadow: 0 0 0;
		text-align: center;
		padding: 5px 15px;
		margin-bottom: 1px;
		&:hover {
			background: $universe;
		}
	}
	.nav ul.dropdown-menu {
		background: $blackhole;
		.divider {
			background-color: $blackhole;
		}
		text-align:center!important;
		margin: 0;
		li a, li.dropdown-header {
			text-align:center!important;
			color: $ice!important;
		}
	}
	li .nav-header, .dropdown .dropdown-menu .nav-header {
		color: $red;
		text-align: center;
	}
	.navbar table.teebox-table {
		margin-bottom:0px;
		tr:last-of-type {
			border-bottom: 1px solid $ocean;
		}
		td {
			color: $ice;
			margin: 0px;
			border-top: 1px solid $ocean;
			background: $universe;
		}
		a {
			color: $green;
			background: none;
			padding: 0px;
			font-weight: 500;
		}
		tr.unread {
			td {
				background: $blackhole;
			}
		}
	}
	#search {
		margin-top: 0px;
	}
	// NAVBAR END
	.show {
		display:none;
	}
	.question-info {
		width: 100%;
	}
	.container .semi {
		width:100%;
	}
	.default {
		margin-top: 5px;
	}
	#footer {
		height:auto;
	}
	#featurettes {
		text-align:center;
	}
	.default-xl {
		width:100%;
	}
	h1.xl {
		font-size: 70px!important;
	}
	.cog {
		margin-top: 0px;
		i {
			font-size: 18px;
		}
	}
	.mobile {
		margin-top: -30px;
		margin: -30px -20px 20px;
		@include border-radius;
		-webkit-transition: all 0.5s ease;
     	-moz-transition: all 0.5s ease;
      	-o-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
		h4 {
			font-size: 16px;
		}
	}
	#nav_links {
		background: $gundam;
		margin:-20px -35px 20px;
		text-align:center;
		padding: 0px;
		.default {
			padding: 9px 5px!important;
			margin:0px;
			background: none;
		}
		.submit {
			color: $red;
			font-weight:bold;
		}
	}
	.alert {
		margin: -30px -20px 30px -20px;
		@include border-radius;
	}
	.ch-grid {
		li {
			height:83px;
			width:83px;
		}
		.ch-item {
			h1 {
				margin: 26px 3px 0 0;
			}
			h3 {
				padding-top:25px;
			}
		}
	}
	.hero-unit .user-page {
		margin-top: 0px;
	}
	#questions-index {
		.question-swing-img {
			display:none;
		}
		.span12 {
			border-bottom: 1px solid #eee;
		}
	}
	p.banner {
		font-size: 14px;
	}
	.modal.fade.in {
		top:85px;
	}
	#nav_links .popover {
		.default {
			background: #ccc;
			margin: 3px 3px 0 0;
			padding: 5px 10px !important;
			display:inline-block;
		}
		.next {
			background: $red;
		}
	}
	// Popovers
	#step-2 {
		top: 220px!important;
		.arrow {
			left:38px!important;
		}
	}
	#step-3 {
		top: 200px!important;
		.arrow {
			left:80px!important;
		}
	}
	section#tags {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}
}
@media (min-width: 270px) and (max-width: 480px) {
	body {
		padding-top: 0px!important;
		padding-bottom: 0px!important;
		padding-left: 0px!important;
		padding-right: 0px!important;
		//background:none;
	}
	// fonts
	h3 {
		font-size: 18px;
		line-height: 22px;
	}
	#margin-bottom {
		margin: 0 10px 20px;
	}
	#mini-push {
		height:0px;
	}
	#no-padding {
		padding-left: 5px;
		padding-right: 5px;
	}
	#notifications {
		@include border-radius;
		//margin: 5px 0px 1px;
		box-shadow: none;
	}
	.navbar .unread {
		background: $blackhole!important;
	}
	.navbar .brand {
		padding: 7px 20px 10px 5px;
	}
	ul#notifications-area {
		width:100%;
		border: none;
	}
	.padded {
		padding: 10px 20px 0;
	}
	.question-image {
		display:none;
	}
	.title-holder {
		height:auto;
	}
	.index-title {
		font-size: 14px;
		width:100%;
		margin: 0px;
		font-weight: 300;
		height:auto;
		line-height:1.5;
	}
	#index {
		width:100%;
	}
	.navbar-default {
		.navbar-header {
			border-bottom: 1px solid $blackhole;
		}
		.navbar-collapse, .navbar-form {
			border: none;
			box-shadow: none;
		}
		.navbar-form {
			margin: 0px;
			border-bottom: 1px solid $blackhole;
		}
	}
	.nav-collapse .nav > li {
		background: $ocean;
		color: #fff;
	}
	.nav > li {
		text-align: center;
		border-bottom: 1px solid $blackhole;
	}
	.nav-collapse .nav > li a {
		color: #fff;
		text-shadow: 0 0 0;
		text-align: center;
		padding: 5px 15px;
		margin-bottom: 1px;
		&:hover {
			background: $universe;
		}
	}
	.nav ul.dropdown-menu {
		background: $blackhole;
		.divider {
			background-color: $blackhole;
		}
		text-align:center!important;
		margin: 0;
		li a, li.dropdown-header {
			text-align:center!important;
			color: $ice!important;
		}
	}
	.navbar table.teebox-table {
		margin-bottom:0px;
		tr:last-of-type {
			border-bottom: 1px solid $ocean;
		}
		td {
			color: $ice;
			margin: 0px;
			border-top: 1px solid $ocean;
			background: $universe;
			.gravatar {
				display:none!important;
			}
		}
		a {
			color: $green;
			background: none;
			padding: 0px;
			font-weight: 500;
		}
		tr.unread {
			td {
				background: $blackhole;
			}
		}
	}
	#search {
		margin-top: 0px;
	}
	.hero-unit {
		padding: 30px 30px;
		font-weight:300;
	}
	.show {
		display:none;
	}
	.default {
		margin-top: 5px;
	}
	.default-xl {
		width:100%;
	}
	.question-info {
		width: 100%;
	}
	.profile-info {
		vertical-align:bottom;
		img {
			display:none;
		}
	}
	.profile-info-index img {
		display:inline-block;
	}
	.profile {
		vertical-align:bottom;
	}
	.comment-grav {
		display:none;
	}
	.container .semi {
		width:100%;
	}
	.answer-box {
		padding: 15px;
		margin-bottom: 10px;
		//box-shadow: 0px 0px 0px #fff;
	}
	#question-box {
		padding:15px;
		border: 0px solid #eee;
		//box-shadow: 0px 0px 0px #fff;
		.vote-box h1 {
			font-size: 45px;
			line-height:40px;
		}
	}
	#footer {
		height:auto;
	}	
	#featurettes {
		text-align:center;
	}
	h1.xl {
		font-size: 40px!important;
	}
	.cog {
		margin-top: 0px;
		i {
			font-size: 18px;
		}
	}
	i.video-destroy-icon {
		font-size: 28px;
	}
	.mobile {
		margin-top: -30px;
		margin: -30px -20px 20px;
		@include border-radius;
		h4 {
			font-size: 16px;
		}
		h1 {
			font-size: 28px;
		}
	}
	#nav_links {
		background: $gundam;
		margin:-20px -35px 20px;
		text-align:center;
		padding: 0px;
		.default {
			padding: 9px 3px!important;
			margin:0px;
			background: none;
		}
		.submit {
			color: $red;
			font-weight:bold;
		}
	}
	.alert {
		margin: -30px -20px 30px -20px;
		@include border-radius;
	}
	.ch-grid {
		 li {
			height:60px;
			width:60px;
		}
		.ch-item {
			h1 {
				margin: 18px 3px 0 0;
				font-size:24px;
			}
			h3, h3 a {
				padding-top:18px;
				font-size:12px;
				line-height:1.2;
				margin-left: 2px;
			}
		}
	}
	.hero-unit .user-page {
		margin-top: 0px;
	}
	.vote {
		margin: 2px 5px 0 0;
	}
	.mobile-scroll {
		overflow: scroll;
	}
	#questions-index {
		.question-swing-img {
			display:none;
		}
		.span12 {
			border-bottom: 1px solid #eee;
		}
	}
	p.banner {
		font-size: 14px;
	}
	.modal.fade.in {
		top:80px;
	}
	.start-tour {
		width:100%;
	}
	#nav_links .popover {
		.default {
			background: #ccc;
			margin: 3px 3px 0 0;
			padding: 5px 10px !important;
			display:inline-block;
		}
		.next {
			background: $red;
		}
	}
	// Popovers
	#step-0 {
		margin-left: auto!important;
		margin-right: auto!important;
		left: 0!important;
		right: 0!important;
	}
	#step-2 {
		top: 234px!important;
		.arrow {
			left:38px!important;
		}
	}
	#step-3 {
		top: 194px!important;
		.arrow {
			left:80px!important;
		}
	}
	.profile-info {
		line-height:22px;
	}
	.instructions {
		margin: 0px;
		.rotate90 {
			height:85px;
			margin: 0px 20px;
		}
		[class*="icon"].xl {
			font-size: 80px!important;
		}
	}
	#tick {
		font-size:26px;
		margin-top: -3px;
	}
	ul.meta_info {
		li {
			padding: 4px 0px 4px 8px;
			&.green-tick {
				background: none;
				color: $green;
				a { color: $green; }
			}
		}
		li:not(:last-child) {
			border:none;
		}
	}
	section#tags {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
		.tag-box {
			width: 100%;
		}
	}
}
// Deals with awkward left align on video library page. Diff 484px
@media (min-width: 270px) and (max-width: 484px) {
	
}
