$ice: #f6f7f8;
$orange: #f1693c;
$red: #E95A4D;
$dark-red: #972219;
$amethyst: #9B59B6;
$wisteria: #8E44AD;
$green: #4fc392;
$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald: #2ECC71;
$dark-emerald: #27AE60;
$teal: #31838f;
$asphalt: #34495E;
$midnight: #2C3E50;
$sky: #22ADC7;
$ocean: #0A323A;
$universe: #08262C;
$blackhole: #03191D;
$gundam: #4E545C;

// fonts
$museo: "Museo Sans","Lucida Grande",Arial,sans-serif;
$helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;