<!DOCTYPE html>
<HTML lang="en">
	<head>
	  	<title>Teebox Reset Password</title>
		<style type="text/css">
			body { font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
			font-weight:300}
			h1 { color: #fff; margin: 5px 0 }
			h2 { margin: 5px 0}
			a { text-decoration: none}
			red { color: #E95A4D }
			.container { margin: 0 auto; width:100%; max-width:940px }
			.hero-unit { padding: 30px; width: auto; background: #08262C; color: #fff; text-align:center}
			.default { color: #fff;	background: #31838f;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box; padding: 5px 10px!important; border-radius:0px; border:none; display:inline-block; text-shadow:none; line-height:20px!important; margin: 3px 3px 0 0; }
		</style>
	</head>
	<body>
		<div class="container">		
			<div class="hero-unit">
				<p>Hello <%= @resource.email %>!</p>
				<p>Someone has requested a link to change your password, and you can do this through the link below.</p>
				<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @resource.reset_password_token) , class: "default" %></p>
				<p>If you didn't request this, please ignore this email.</p>
				<p>Your password won't change until you access the link above and create a new one.</p>
			</div>
		</div>
	</body>
</html>