<div class="vote-box">
	<i class="icon-thumbs-up-alt"></i>
	<span id="<%= "#{demodularize(object)}_#{object.id}" %>">
		<%= object.votes_count %>
	</span>
</div>
<div id="arrows">
	<%= link_to raw("<i class='icon-plus-sign-alt green sm'></i>"), vote_path.call(object, value: 1), id: "upvote", remote: true,  method: "post", title: "Upvote" %>
	<%= link_to raw("<i class='icon-minus-sign-alt red sm'></i>") , vote_path.call(object, value: -1), id: "downvote", remote: true, method: "post", title: "Downvote" %>
</div>