<div class="span2">
	<ul class="ch-grid">
		<li>
        <div class="ch-item ch-img-1">
            <div class="ch-info">
                <h3>Total Questions</h3>
            </div>
			<h1><%= reports.first.questions_total %></h1>
        </div>
    	</li>
	</ul>
</div>
<div class="span2">
	<ul class="ch-grid">
		<li>
        <div class="ch-item ch-img-1">
            <div class="ch-info">
               <h3>Total Answers</h3>
            </div>
			<h1><%= reports.first.answers_total %></h1>
        </div>
    	</li>
	</ul>
</div>
<div class="span2">
	<ul class="ch-grid">
		<li>
        <div class="ch-item ch-img-1">
            <div class="ch-info">
                <h3>Total<br>Users</h3>
            </div>
			<h1><%= reports.first.users_total %></h1>
        </div>
    	</li>
	</ul>
</div>