<body class="banff-xl">
	<div class='row'>
		<div class='span12'>
			<div class='hero-unit blue-transparent'>
				<center>
					<h1 class="one"><span>Teebox Report - <%= Time.now.to_date %></span></h1>
					<%= render partial: "reports/form" %>
					<%= render partial: "reports/totals", locals: {reports: @all_reports }%><br><br>
				</center>
				<b>Totals</b>
				<%= content_tag :div, "", id: "area", data: { totals: @all_reports } %>
			</div>
		</div>
	</div>		
	<div class="row">		
		<div class="span12">		

		</div>
	</div>
<!-- load morris to rescue from 'no graph container found error'-->
<script>
jQuery(function() {
  return Morris.Line({
    element: 'area',
    data: $('#area').data('totals'),
    xkey: 'created_at',
    ykeys: ['questions_total', 'answers_total','users_total'],
    labels: ['Total Questions', 'Total Answers','Total Users'],
	behaveLikeLine: "true",
	hideHover: "auto"
  });
});
</script>
</body>