<div id="footer" class="<%= hide_footer %>">
	<div class="container">
		<div class="padded row">
			<div class="span4">
				Teebox Network Ltd. All Rights Reserved
			</div>
			<div class="span4">
			</div>
			<div class="span4">
			<ul class="footer-menu">
			</ul>
		</div>
		</div>
	</div>
</div>
