<div id="footer">
	<div class="footer-container">
		<div class="left-header">
			Teebox Network Ltd © All Rights Reserved
		</div>
		<div class="right-header">
			For the best experience we recommend:<br>
			<div id="browsers">
			<%= image_tag('safari.png') %>
			<%= image_tag('firefox.png') %>
			<%= image_tag('ie.png') %>
			<%= image_tag('chrome.png') %>
			</div>
		</div>
	</div>
</div>
